In [1]:
import pandas as pd
import numpy as np

In [2]:
bio = pd.read_csv('biomarkers_f.csv')
chebild = pd.read_csv('chebild_inchi_f.tsv', sep='\t')
datnam = pd.read_csv('datnamf.tsv',sep='\t')
metabo = pd.read_csv('metabolites_f.csv')
names = pd.read_csv('namesf.tsv',sep='\t')
compounds = pd.read_csv('compounds_f.csv')

In [3]:
chebild.head()

   Unnamed: 0  CHEBI_ID                                              InChI
0           0        90  InChI=1S/C15H14O6/c16-8-4-11(18)9-6-13(20)15(2...
1           1       165  InChI=1S/C10H16O/c1-9(2)7-4-5-10(3,6-7)8(9)11/...
2           2       776  InChI=1S/C18H22O3/c1-18-7-6-13-12-5-3-11(19)8-...
3           3       943    InChI=1S/C7H3Cl2N/c8-6-2-1-3-7(9)5(6)4-10/h1-3H
4           4      1148  InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...

In [4]:
compounds.head()

,chebi_accession,SOURCE,name,definition,created_by
0,4798,KEGG COMPOUND,entacapone,"A monocarboxylic acid amide that is N,N-diethy...",CHEBI
1,2341,KEGG COMPOUND,AACOCF3,A fatty acid derivative that is arachidonic ac...,CHEBI
2,3223,KEGG COMPOUND,buspirone,An azaspiro compound that is 8-azaspiro[4.5]de...,CHEBI
3,8028,KEGG COMPOUND,perphenazine,A phenothiazine derivative in which the phenot...,CHEBI
4,3423,KEGG COMPOUND,carmustine,A member of the class of N-nitrosoureas that i...,CHEBI

In [5]:
names.head()

,id,compound_id,type,source,name,adapted,language
0,2,18357,SYNONYM,KEGG COMPOUND,Noradrenaline,F,en
1,3,18357,SYNONYM,KEGG COMPOUND,L-Noradrenaline,F,en
2,4,18357,SYNONYM,KEGG COMPOUND,Norepinephrine,F,en
3,5,18357,SYNONYM,KEGG COMPOUND,Arterenol,F,en
4,9,28234,SYNONYM,KEGG COMPOUND,"(+)-(3S,4R)-cis-3,4-Dihydroxy-3,4-dihydrofluorene",F,en

In [6]:
bio.head()

,name_ofd,type_ofd,notes_ofd,phenotype,organ_affected,cheBlId_ofb,description_ofb,fullName_ofb,inchiKey_ofb,inchiString_ofb,keggId_ofb,casRegistry_ofb,value_ofb,normal_conc_ofb,ramedis_ofb,range_conc_ofb
0,Glycine Encephalopathy/ Nonketotic Hyperglycin...,Inherited metabolic disorder,About 80 percent of cases of glycine encephalo...,1) Neonatal (classic) presentation-The neonata...,Nervous system,84842,Human Metabolome Database (HMDB): Glycine is a...,Glycine,DHMQDGOQFOQNFH-UHFFFAOYSA-N,"InChI=1S/C2H5NO2/c3-1-2(4)5/h1,3H2,(H,4,5)",C00037,56-40-6,Increased,180.00-740.00,NaN,550.00-1350.00
1,Gyrate Atrophy of the Choroid And Retina,Inherited metabolic disorder,Decreased activity of ornithine-delta-aminotra...,NaN,"Muscle, eye",84842,Human Metabolome Database (HMDB): L-proline is...,L-Proline,ONIBWKKTOPOVIA-BYPYZUCNSA-N,"InChI=1S/C5H9NO2/c7-5(8)4-2-1-3-6-4/h4,6H,1-3H...",C00148,147-85-3,Increased,95.00 - 320.00,NaN,830-1360
2,Maple Syrup Urine Disease,Inherited metabolic disorder,"In plasma increased levels of allo-isoleucine,...",1) Classic and intermediate MSUD. 2)There are ...,Nervous system,84842,Human Metabolome Database (HMDB): Valine (abbr...,L-Valine,KZSNJWFQEVHDMF-BYPYZUCNSA-N,"InChI=1S/C5H11NO2/c1-3(2)4(6)5(7)8/h3-4H,6H2,1...",C00183,72-18-4,Increased,65.00-215,"125, 133, 337",210.00 - 650.00
3,Neonatal Intrahepatic Cholestasis caused by Ci...,Inherited metabolic disorder,"Blood-elevated acetylcarnitine (C2), palmitoyl...",The two phenotypes of citrin deficiency are ci...,Liver,84842,Human Metabolome Database (HMDB): Threonine is...,L-Threonine,AYFVYJQAPQTCCC-GBXIJSLDSA-N,"InChI=1S/C4H9NO3/c1-2(6)3(5)4(7)8/h2-3,6H,5H2,...",C00188,72-19-5,Increased,25 - 150,NaN,NaN
4,Hypermethioninemia,Inherited metabolic disorder,A deficiency of any of these enzymes (i.e. MAT...,NaN,"Nervous system, liver, muscle",84842,Human Metabolome Database (HMDB): Methionine i...,L-Methionine,FFEARJCKVFRZRR-BYPYZUCNSA-N,"InChI=1S/C5H11NO2S/c1-9-3-2-4(6)5(7)8/h4H,2-3,...",C00073,63-68-3,Increased,10.00-38.00,NaN,56.00 -170.00

In [7]:
bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_ofd         115 non-null    object
 1   type_ofd         115 non-null    object
 2   notes_ofd        115 non-null    object
 3   phenotype        108 non-null    object
 4   organ_affected   114 non-null    object
 5   cheBlId_ofb      115 non-null    int64
 6   description_ofb  66 non-null     object
 7   fullName_ofb     115 non-null    object
 8   inchiKey_ofb     115 non-null    object
 9   inchiString_ofb  115 non-null    object
 10  keggId_ofb       41 non-null     object
 11  casRegistry_ofb  48 non-null     object
 12  value_ofb        115 non-null    object
 13  normal_conc_ofb  115 non-null    object
 14  ramedis_ofb      26 non-null     object
 15  range_conc_ofb   114 non-null    object
dtypes: int64(1), object(15)
memory usage: 14.5+ KB

In [8]:
metabo.head()

,casregistry,cheblid,description,fullname,hmdb,inchikey,inchistring,keggid
0,2800-34-2,15637.0,Human Metabolome Database (HMDB): 10-Formyltet...,10-Formyltetrahydrofolate,HMDB0000972,AUFGTPPARQZWDO-YUZLPWPTSA-L,InChI=1S/C20H23N7O7/c21-20-25-16-15(18(32)26-2...,C00234
1,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](5),NaN,RGSLBOWMZCMTRA-UHFFFAOYSA-H,InChI=1S/C40H51N11O19/c41-40-49-32-31(37(66)50...,NaN
2,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](6),NaN,SFFBEUFYOPMKMV-CWMPVMSNSA-G,InChI=1S/C45H58N12O22/c46-45-55-36-35(38(67)56...,NaN
3,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](7),NaN,VTHHVZBTNSHUDD-UHFFFAOYSA-F,InChI=1S/C50H65N13O25/c51-50-61-40-39(47(84)62...,NaN
4,NaN,NaN,NaN,10-methyl-3-hydroxy-dodecanoyl-ACP,NaN,NaN,NaN,NaN

In [9]:
metabo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5650 entries, 0 to 5649
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   casregistry  791 non-null    object
 1   cheblid      565 non-null    float64
 2   description  904 non-null    object
 3   fullname     5650 non-null   object
 4   hmdb         1130 non-null   object
 5   inchikey     1469 non-null   object
 6   inchistring  1469 non-null   object
 7   keggid       678 non-null    object
dtypes: float64(1), object(7)
memory usage: 353.2+ KB

In [57]:
keg_id_b['keg'] = bio['keggId_ofb'].str.replace("C","")

In [59]:
keg_id_b.info()

<class 'pandas.core.series.Series'>
Index: 116 entries, 0 to keg
Series name: keggId_ofb
Non-Null Count  Dtype
--------------  -----
42 non-null     object
dtypes: object(1)
memory usage: 5.9+ KB

In [60]:
keg_id_b_2 = keg_id_b.astype(float )

ValueError: setting an array element with a sequence.

In [35]:
keg_id_b_2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 115 entries, 0 to 114
Series name: keggId_ofb
Non-Null Count  Dtype
--------------  -----
41 non-null     float64
dtypes: float64(1)
memory usage: 1.0 KB

In [38]:
bio_2 = pd.concat([bio,keg_id_b_2])

In [40]:
bio_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 114
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_ofd         115 non-null    object
 1   type_ofd         115 non-null    object
 2   notes_ofd        115 non-null    object
 3   phenotype        108 non-null    object
 4   organ_affected   114 non-null    object
 5   cheBlId_ofb      115 non-null    float64
 6   description_ofb  66 non-null     object
 7   fullName_ofb     115 non-null    object
 8   inchiKey_ofb     115 non-null    object
 9   inchiString_ofb  115 non-null    object
 10  keggId_ofb       41 non-null     object
 11  casRegistry_ofb  48 non-null     object
 12  value_ofb        115 non-null    object
 13  normal_conc_ofb  115 non-null    object
 14  ramedis_ofb      26 non-null     object
 15  range_conc_ofb   114 non-null    object
 16  0                41 non-null     float64
dtypes: float64(2), object(15)
memory usage: 32.3+ KB

In [54]:
bio_2.rename(columns={16:'keg2'},inplace=True)

In [55]:
bio_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 114
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name_ofd         115 non-null    object
 1   type_ofd         115 non-null    object
 2   notes_ofd        115 non-null    object
 3   phenotype        108 non-null    object
 4   organ_affected   114 non-null    object
 5   cheBlId_ofb      115 non-null    float64
 6   description_ofb  66 non-null     object
 7   fullName_ofb     115 non-null    object
 8   inchiKey_ofb     115 non-null    object
 9   inchiString_ofb  115 non-null    object
 10  keggId_ofb       41 non-null     object
 11  casRegistry_ofb  48 non-null     object
 12  value_ofb        115 non-null    object
 13  normal_conc_ofb  115 non-null    object
 14  ramedis_ofb      26 non-null     object
 15  range_conc_ofb   114 non-null    object
 16  0                41 non-null     float64
dtypes: float64(2), object(15)
memory usage: 40.4+ KB