In [67]:
import pandas as pd
from pprint import pprint

In [68]:
marker = pd.read_csv('marker_db.csv')
dataset = pd.read_csv('final_dataset.csv')
biomarker = pd.read_csv('biomarkers_final.csv')

In [69]:
biomarker.head()

,name_of_disease,abbreviation_of_disease,type_of_disease,notes_of_disease,phenotype,organ_affected,cheblid_of_biomarker,description_of_biomarker,fullname_of_biomarker,abbreviation_of_biomarker,...,value_of_biomarker,normal_conc_of_biomarker,ramedis_of_biomarker,range_conc_of_biomarker,biocyc_biomarker,smile_biomarker,hmdb_biomarker,reconMap3_biomarker,food_db_biomarker,pubChemId_biomarker
0,Glycine Encephalopathy/ Nonketotic Hyperglycin...,NKH,Inherited metabolic disorder,About 80 percent of cases of glycine encephalo...,1) Neonatal (classic) presentation-The neonata...,Nervous system,15428.0,Human Metabolome Database (HMDB): Glycine is a...,Glycine,gly,...,Increased,180.00-740.00,NaN,550.00-1350.00,GLY,[H][N+]([H])([H])C([H])([H])C([O-])=O,HMDB0000123,gly,FDB000484,750.0
1,Gyrate Atrophy of the Choroid And Retina,GACR,Inherited metabolic disorder,Decreased activity of ornithine-delta-aminotra...,NaN,"Muscle, eye",17203.0,Human Metabolome Database (HMDB): L-proline is...,L-Proline,pro_L,...,Increased,95.00 - 320.00,NaN,830-1360,PRO,[H]C1([H])C([H])([H])[N+]([H])([H])[C@]([H])(C...,HMDB0000162,pro_L,FDB000570,145742.0
2,Maple Syrup Urine Disease,MSUD,Inherited metabolic disorder,"In plasma increased levels of allo-isoleucine,...",1) Classic and intermediate MSUD. 2)There are ...,Nervous system,16414.0,Human Metabolome Database (HMDB): Valine (abbr...,L-Valine,val_L,...,Increased,65.00-215,"125, 133, 337",210.00 - 650.00,VAL,[H]C([H])([H])C([H])(C([H])([H])[H])[C@@]([H])...,HMDB0000883,val_L,FDB000465,6287.0
3,Neonatal Intrahepatic Cholestasis caused by Ci...,NICCD,Inherited metabolic disorder,"Blood-elevated acetylcarnitine (C2), palmitoyl...",The two phenotypes of citrin deficiency are ci...,Liver,16857.0,Human Metabolome Database (HMDB): Threonine is...,L-Threonine,thr_L,...,Increased,25 - 150,NaN,NaN,THR,[H]O[C@]([H])(C([H])([H])[H])[C@@]([H])(C([O-]...,HMDB0000167,thr_L,FDB011999,6288.0
4,Hypermethioninemia,HMET,Inherited metabolic disorder,A deficiency of any of these enzymes (i.e. MAT...,NaN,"Nervous system, liver, muscle",16643.0,Human Metabolome Database (HMDB): Methionine i...,L-Methionine,met_L,...,Increased,10.00-38.00,NaN,56.00 -170.00,MET,[H]C([H])([H])SC([H])([H])C([H])([H])[C@@]([H]...,HMDB0000696,met_L,FDB012683,6137.0

In [70]:
dataset.head()

,abbreviation_metabolite,casregistry_metabolite,cheblid_metabolite,description_metabolite,fullname_metabolite,hmdb_metabolite,inchikey_metabolite,inchistring_metabolite,keggid_metabolite,biocyc_metabolite,...,reconmap3_metabolite,smile_metabolite,synonyms_metabolite,chebi_id,name,definition,inchi_string,synonym,type,accession_number
0,20ahchsterol,516-72-3,1296.0,Human Metabolome Database (HMDB): 20 alpha-hyd...,20alpha-Hydroxycholesterol,HMDB0006283,MCKLJFJEQRYRQT-APGJSSKUSA-N,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",C05500,20A-HYDROXY-CHOLESTEROL,...,20ahchsterol,[H]O[C@]1([H])C([H])([H])C2=C([H])C([H])([H])[...,"(3beta,20R)-Cholest-5-ene-3,20-diol***20-Hydro...",1296,20-hydroxycholesterol,An oxysterol that is cholesterol substituted b...,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",20alpha-Hydroxycholesterol,KEGG COMPOUND accession,C05500
1,xol7a,NaN,17500.0,Human Metabolome Database (HMDB): 7alpha-hydro...,7a-Hydroxycholesterol,HMDB0001496,MCKLJFJEQRYRQT-APGJSSKUSA-N,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",C03594,CPD-266,...,xol7a,[H]O[C@]1([H])C([H])([H])C2=C([H])C([H])([H])[...,7 alpha-Hydroxycholesterol***7-a-Hydroxycholes...,1296,20-hydroxycholesterol,An oxysterol that is cholesterol substituted b...,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",20alpha-Hydroxycholesterol,KEGG COMPOUND accession,C05500
2,2dp6mobq,NaN,50773.0,Human Metabolome Database (HMDB): This compoun...,"2-Decaprenyl-6-methoxy-1,4-benzoquinone",HMDB0060248,POYJNCVGTDCCPK-RDSVHMIISA-N,InChI=1S/C57H86O3/c1-44(2)22-13-23-45(3)24-14-...,NaN,CPD-11659,...,2dp6mobq,[H]C(=C(C([H])([H])[H])C([H])([H])[H])C([H])([...,"2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,...",50773,"2-decaprenyl-6-methoxy-1,4-benzoquinone",NaN,InChI=1S/C57H86O3/c1-44(2)22-13-23-45(3)24-14-...,"2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,...",Beilstein Registry Number,2688027
3,2dr5p,102916-66-5,16132.0,Human Metabolome Database (HMDB): Deoxyribose ...,Deoxyribose 5-phosphate,HMDB0001031,KKZFLSZAWCYPOC-PYHARJCCSA-L,"InChI=1S/C5H11O7P/c6-3-1-5(7)12-4(3)2-11-13(8,...",C00673,DEOXY-RIBOSE-5P,...,2dr5p,[H]OC1([H])O[C@]([H])(C([H])([H])OP([O-])([O-]...,2-Deoxy-alpha-D-ribose 5-phosphate***2-Deoxy-a...,62877,2-deoxy-D-ribofuranose 5-phosphate(2-),An organophosphate oxoanion obtained by deprot...,"InChI=1S/C5H11O7P/c6-3-1-5(7)12-4(3)2-11-13(8,...","[(2R,3S)-3,5-dihydroxyoxolan-2-yl]methyl phosp...",MetaCyc accession,DEOXY-RIBOSE-5P
4,2hb,600-15-7,1148.0,Human Metabolome Database (HMDB): 2-Hydroxybut...,2-Hydroxybutyric acid,HMDB0000008,AFENDNXGAFYKQO-UHFFFAOYSA-M,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",C05984,CPD-3564,...,2hb,[H]OC([H])(C([O-])=O)C([H])([H])C([H])([H])[H],2-Hydroxybutanoic acid***alpha-Hydroxybutanoic...,64552,2-hydroxybutyrate,A hydroxy fatty acid anion that is the conjuga...,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",alpha-hydroxybutanoate,Reaxys Registry Number,3661492

In [71]:
marker.head()
marker_name = marker[['name','description','mdbid']]
marker_inchi = marker[['name','description','mdbid','moldb_inchi','moldb_inchikey',]]
marker_smile = marker[['name','description','mdbid','moldb_smiles']]

In [72]:
biomarker.head()

,name_of_disease,abbreviation_of_disease,type_of_disease,notes_of_disease,phenotype,organ_affected,cheblid_of_biomarker,description_of_biomarker,fullname_of_biomarker,abbreviation_of_biomarker,...,value_of_biomarker,normal_conc_of_biomarker,ramedis_of_biomarker,range_conc_of_biomarker,biocyc_biomarker,smile_biomarker,hmdb_biomarker,reconMap3_biomarker,food_db_biomarker,pubChemId_biomarker
0,Glycine Encephalopathy/ Nonketotic Hyperglycin...,NKH,Inherited metabolic disorder,About 80 percent of cases of glycine encephalo...,1) Neonatal (classic) presentation-The neonata...,Nervous system,15428.0,Human Metabolome Database (HMDB): Glycine is a...,Glycine,gly,...,Increased,180.00-740.00,NaN,550.00-1350.00,GLY,[H][N+]([H])([H])C([H])([H])C([O-])=O,HMDB0000123,gly,FDB000484,750.0
1,Gyrate Atrophy of the Choroid And Retina,GACR,Inherited metabolic disorder,Decreased activity of ornithine-delta-aminotra...,NaN,"Muscle, eye",17203.0,Human Metabolome Database (HMDB): L-proline is...,L-Proline,pro_L,...,Increased,95.00 - 320.00,NaN,830-1360,PRO,[H]C1([H])C([H])([H])[N+]([H])([H])[C@]([H])(C...,HMDB0000162,pro_L,FDB000570,145742.0
2,Maple Syrup Urine Disease,MSUD,Inherited metabolic disorder,"In plasma increased levels of allo-isoleucine,...",1) Classic and intermediate MSUD. 2)There are ...,Nervous system,16414.0,Human Metabolome Database (HMDB): Valine (abbr...,L-Valine,val_L,...,Increased,65.00-215,"125, 133, 337",210.00 - 650.00,VAL,[H]C([H])([H])C([H])(C([H])([H])[H])[C@@]([H])...,HMDB0000883,val_L,FDB000465,6287.0
3,Neonatal Intrahepatic Cholestasis caused by Ci...,NICCD,Inherited metabolic disorder,"Blood-elevated acetylcarnitine (C2), palmitoyl...",The two phenotypes of citrin deficiency are ci...,Liver,16857.0,Human Metabolome Database (HMDB): Threonine is...,L-Threonine,thr_L,...,Increased,25 - 150,NaN,NaN,THR,[H]O[C@]([H])(C([H])([H])[H])[C@@]([H])(C([O-]...,HMDB0000167,thr_L,FDB011999,6288.0
4,Hypermethioninemia,HMET,Inherited metabolic disorder,A deficiency of any of these enzymes (i.e. MAT...,NaN,"Nervous system, liver, muscle",16643.0,Human Metabolome Database (HMDB): Methionine i...,L-Methionine,met_L,...,Increased,10.00-38.00,NaN,56.00 -170.00,MET,[H]C([H])([H])SC([H])([H])C([H])([H])[C@@]([H]...,HMDB0000696,met_L,FDB012683,6137.0

In [73]:
marker.head()

,name,description,hmdb,moldb_smiles,moldb_formula,moldb_inchi,moldb_inchikey,moldb_iupac,moldb_logp,moldb_pka,...,moldb_pka_strongest_basic,moldb_pka_strongest_acidic,moldb_bioavailability,moldb_number_of_rings,moldb_rule_of_five,moldb_ghose_filter,moldb_veber_rule,moldb_mddr_like_rule,mdbid,panel_marker_id
0,1-Methylhistidine,"1-Methylhistidine, also known as 1-MHis or 1MH...",HMDB0000001,CN1C=NC(C[C@H](N)C(O)=O)=C1,C7H11N3O2,1S/C7H11N3O2/c1-10-3-5(9-4-10)2-6(8)7(11)12/h3...,BRMWTNUJHUMWMS-LURJTMIESA-N,2-amino-3-(1-methyl-1H-imidazol-4-yl)propanoic...,-3.070419,NaN,...,9.250317,1.964588,1.0,1.0,1.0,0.0,0.0,0.0,MDB00000001,"5184,5199,5206,5236,5288,5291,5313,5338,5440,5441"
1,"1,3-Diaminopropane","1,3-Diaminopropane, also known as trimethylene...",HMDB0000002,NCCCN,C3H10N2,1S/C3H10N2/c4-2-1-3-5/h1-5H2,XFNJVJPLKCPIBV-UHFFFAOYSA-N,"propane-1,3-diamine",-1.362483,NaN,...,10.169241,NaN,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000002,5300
2,2-Hydroxybutyric acid,"2-Hydroxybutyric acid (CAS: 600-15-7), also kn...",HMDB0000008,CCC(O)C(O)=O,C4H8O3,"1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(H,6,7)",AFENDNXGAFYKQO-UHFFFAOYSA-N,(2S)-2-hydroxybutanoic acid,0.050693,14.293154,...,-3.793588,3.989999,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000004,"5338,5440,5497"
3,2-Methoxyestrone,2-Methoxyestrone is a steroid derivative that ...,HMDB0000010,[H][C@@]12CCC(=O)[C@@]1(C)CC[C@]1([H])C3=C(CC[...,C19H24O3,1S/C19H24O3/c1-19-8-7-12-13(15(19)5-6-18(19)21...,WHEUWNKSCXYKBU-QPWUGHHJSA-N,"(1S,10R,11S,15S)-5-hydroxy-4-methoxy-15-methyl...",4.151358,19.957534,...,-4.882522,10.290800,1.0,4.0,1.0,1.0,0.0,0.0,MDB00000005,NaN
4,(R)-3-Hydroxybutyric acid,(R)-3-Hydroxybutyric acid is a butyric acid su...,HMDB0000011,C[C@@H](O)CC(O)=O,C4H8O3,"1S/C4H8O3/c1-3(5)2-4(6)7/h3,5H,2H2,1H3,(H,6,7)...",WHBMMWSBFZVSSR-GSVOUGTGSA-N,(3R)-3-hydroxybutanoic acid,-0.387006,15.695695,...,-2.620513,4.406291,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000006,"5173,5179,5183,5199,5200,5212,5237,5269,5305,5..."

In [74]:
marker.head()

,name,description,hmdb,moldb_smiles,moldb_formula,moldb_inchi,moldb_inchikey,moldb_iupac,moldb_logp,moldb_pka,...,moldb_pka_strongest_basic,moldb_pka_strongest_acidic,moldb_bioavailability,moldb_number_of_rings,moldb_rule_of_five,moldb_ghose_filter,moldb_veber_rule,moldb_mddr_like_rule,mdbid,panel_marker_id
0,1-Methylhistidine,"1-Methylhistidine, also known as 1-MHis or 1MH...",HMDB0000001,CN1C=NC(C[C@H](N)C(O)=O)=C1,C7H11N3O2,1S/C7H11N3O2/c1-10-3-5(9-4-10)2-6(8)7(11)12/h3...,BRMWTNUJHUMWMS-LURJTMIESA-N,2-amino-3-(1-methyl-1H-imidazol-4-yl)propanoic...,-3.070419,NaN,...,9.250317,1.964588,1.0,1.0,1.0,0.0,0.0,0.0,MDB00000001,"5184,5199,5206,5236,5288,5291,5313,5338,5440,5441"
1,"1,3-Diaminopropane","1,3-Diaminopropane, also known as trimethylene...",HMDB0000002,NCCCN,C3H10N2,1S/C3H10N2/c4-2-1-3-5/h1-5H2,XFNJVJPLKCPIBV-UHFFFAOYSA-N,"propane-1,3-diamine",-1.362483,NaN,...,10.169241,NaN,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000002,5300
2,2-Hydroxybutyric acid,"2-Hydroxybutyric acid (CAS: 600-15-7), also kn...",HMDB0000008,CCC(O)C(O)=O,C4H8O3,"1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(H,6,7)",AFENDNXGAFYKQO-UHFFFAOYSA-N,(2S)-2-hydroxybutanoic acid,0.050693,14.293154,...,-3.793588,3.989999,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000004,"5338,5440,5497"
3,2-Methoxyestrone,2-Methoxyestrone is a steroid derivative that ...,HMDB0000010,[H][C@@]12CCC(=O)[C@@]1(C)CC[C@]1([H])C3=C(CC[...,C19H24O3,1S/C19H24O3/c1-19-8-7-12-13(15(19)5-6-18(19)21...,WHEUWNKSCXYKBU-QPWUGHHJSA-N,"(1S,10R,11S,15S)-5-hydroxy-4-methoxy-15-methyl...",4.151358,19.957534,...,-4.882522,10.290800,1.0,4.0,1.0,1.0,0.0,0.0,MDB00000005,NaN
4,(R)-3-Hydroxybutyric acid,(R)-3-Hydroxybutyric acid is a butyric acid su...,HMDB0000011,C[C@@H](O)CC(O)=O,C4H8O3,"1S/C4H8O3/c1-3(5)2-4(6)7/h3,5H,2H2,1H3,(H,6,7)...",WHBMMWSBFZVSSR-GSVOUGTGSA-N,(3R)-3-hydroxybutanoic acid,-0.387006,15.695695,...,-2.620513,4.406291,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000006,"5173,5179,5183,5199,5200,5212,5237,5269,5305,5..."

In [75]:
dataset.head()

,abbreviation_metabolite,casregistry_metabolite,cheblid_metabolite,description_metabolite,fullname_metabolite,hmdb_metabolite,inchikey_metabolite,inchistring_metabolite,keggid_metabolite,biocyc_metabolite,...,reconmap3_metabolite,smile_metabolite,synonyms_metabolite,chebi_id,name,definition,inchi_string,synonym,type,accession_number
0,20ahchsterol,516-72-3,1296.0,Human Metabolome Database (HMDB): 20 alpha-hyd...,20alpha-Hydroxycholesterol,HMDB0006283,MCKLJFJEQRYRQT-APGJSSKUSA-N,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",C05500,20A-HYDROXY-CHOLESTEROL,...,20ahchsterol,[H]O[C@]1([H])C([H])([H])C2=C([H])C([H])([H])[...,"(3beta,20R)-Cholest-5-ene-3,20-diol***20-Hydro...",1296,20-hydroxycholesterol,An oxysterol that is cholesterol substituted b...,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",20alpha-Hydroxycholesterol,KEGG COMPOUND accession,C05500
1,xol7a,NaN,17500.0,Human Metabolome Database (HMDB): 7alpha-hydro...,7a-Hydroxycholesterol,HMDB0001496,MCKLJFJEQRYRQT-APGJSSKUSA-N,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",C03594,CPD-266,...,xol7a,[H]O[C@]1([H])C([H])([H])C2=C([H])C([H])([H])[...,7 alpha-Hydroxycholesterol***7-a-Hydroxycholes...,1296,20-hydroxycholesterol,An oxysterol that is cholesterol substituted b...,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",20alpha-Hydroxycholesterol,KEGG COMPOUND accession,C05500
2,2dp6mobq,NaN,50773.0,Human Metabolome Database (HMDB): This compoun...,"2-Decaprenyl-6-methoxy-1,4-benzoquinone",HMDB0060248,POYJNCVGTDCCPK-RDSVHMIISA-N,InChI=1S/C57H86O3/c1-44(2)22-13-23-45(3)24-14-...,NaN,CPD-11659,...,2dp6mobq,[H]C(=C(C([H])([H])[H])C([H])([H])[H])C([H])([...,"2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,...",50773,"2-decaprenyl-6-methoxy-1,4-benzoquinone",NaN,InChI=1S/C57H86O3/c1-44(2)22-13-23-45(3)24-14-...,"2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,...",Beilstein Registry Number,2688027
3,2dr5p,102916-66-5,16132.0,Human Metabolome Database (HMDB): Deoxyribose ...,Deoxyribose 5-phosphate,HMDB0001031,KKZFLSZAWCYPOC-PYHARJCCSA-L,"InChI=1S/C5H11O7P/c6-3-1-5(7)12-4(3)2-11-13(8,...",C00673,DEOXY-RIBOSE-5P,...,2dr5p,[H]OC1([H])O[C@]([H])(C([H])([H])OP([O-])([O-]...,2-Deoxy-alpha-D-ribose 5-phosphate***2-Deoxy-a...,62877,2-deoxy-D-ribofuranose 5-phosphate(2-),An organophosphate oxoanion obtained by deprot...,"InChI=1S/C5H11O7P/c6-3-1-5(7)12-4(3)2-11-13(8,...","[(2R,3S)-3,5-dihydroxyoxolan-2-yl]methyl phosp...",MetaCyc accession,DEOXY-RIBOSE-5P
4,2hb,600-15-7,1148.0,Human Metabolome Database (HMDB): 2-Hydroxybut...,2-Hydroxybutyric acid,HMDB0000008,AFENDNXGAFYKQO-UHFFFAOYSA-M,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",C05984,CPD-3564,...,2hb,[H]OC([H])(C([O-])=O)C([H])([H])C([H])([H])[H],2-Hydroxybutanoic acid***alpha-Hydroxybutanoic...,64552,2-hydroxybutyrate,A hydroxy fatty acid anion that is the conjuga...,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",alpha-hydroxybutanoate,Reaxys Registry Number,3661492

In [76]:
dataset_id = dataset[['fullname_metabolite','chebi_id','inchikey_metabolite','inchistring_metabolite','smile_metabolite']]

In [77]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265 entries, 0 to 7
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   abbreviation_metabolite  265 non-null    object
 1   casregistry_metabolite   154 non-null    object
 2   cheblid_metabolite       183 non-null    float64
 3   description_metabolite   198 non-null    object
 4   fullname_metabolite      265 non-null    object
 5   hmdb_metabolite          200 non-null    object
 6   inchikey_metabolite      242 non-null    object
 7   inchistring_metabolite   245 non-null    object
 8   keggid_metabolite        202 non-null    object
 9   biocyc_metabolite        80 non-null     object
 10  food_db_metabolite       161 non-null    object
 11  reconmap3_metabolite     162 non-null    object
 12  smile_metabolite         237 non-null    object
 13  synonyms_metabolite      188 non-null    object
 14  chebi_id                 265 non-null    int64
 15  name                     265 non-null    object
 16  definition               238 non-null    object
 17  inchi_string             265 non-null    object
 18  synonym                  265 non-null    object
 19  type                     265 non-null    object
 20  accession_number         265 non-null    object
dtypes: float64(1), int64(1), object(19)
memory usage: 45.5+ KB

In [78]:
marker_inchi.head()

,name,description,mdbid,moldb_inchi,moldb_inchikey
0,1-Methylhistidine,"1-Methylhistidine, also known as 1-MHis or 1MH...",MDB00000001,1S/C7H11N3O2/c1-10-3-5(9-4-10)2-6(8)7(11)12/h3...,BRMWTNUJHUMWMS-LURJTMIESA-N
1,"1,3-Diaminopropane","1,3-Diaminopropane, also known as trimethylene...",MDB00000002,1S/C3H10N2/c4-2-1-3-5/h1-5H2,XFNJVJPLKCPIBV-UHFFFAOYSA-N
2,2-Hydroxybutyric acid,"2-Hydroxybutyric acid (CAS: 600-15-7), also kn...",MDB00000004,"1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(H,6,7)",AFENDNXGAFYKQO-UHFFFAOYSA-N
3,2-Methoxyestrone,2-Methoxyestrone is a steroid derivative that ...,MDB00000005,1S/C19H24O3/c1-19-8-7-12-13(15(19)5-6-18(19)21...,WHEUWNKSCXYKBU-QPWUGHHJSA-N
4,(R)-3-Hydroxybutyric acid,(R)-3-Hydroxybutyric acid is a butyric acid su...,MDB00000006,"1S/C4H8O3/c1-3(5)2-4(6)7/h3,5H,2H2,1H3,(H,6,7)...",WHBMMWSBFZVSSR-GSVOUGTGSA-N

In [79]:
merge_1 = dataset_id.merge(marker_name,left_on='fullname_metabolite',right_on='name',how='inner')

In [80]:
merge_2 = dataset_id.merge(marker_inchi,left_on=['inchikey_metabolite'],right_on=['moldb_inchikey'],how='inner')

In [81]:
merge_3 = dataset_id.merge(marker_inchi,left_on=['inchistring_metabolite'],right_on=['moldb_inchi'],how='inner')

In [82]:
merge_4 = dataset_id.merge(marker_smile,left_on=['smile_metabolite'],right_on=['moldb_smiles'],how='inner')

In [83]:
merge_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fullname_metabolite     36 non-null     object
 1   chebi_id                36 non-null     int64
 2   inchikey_metabolite     36 non-null     object
 3   inchistring_metabolite  36 non-null     object
 4   smile_metabolite        36 non-null     object
 5   name                    36 non-null     object
 6   description             36 non-null     object
 7   mdbid                   36 non-null     object
dtypes: int64(1), object(7)
memory usage: 2.5+ KB

In [84]:
merge_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 12
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fullname_metabolite     13 non-null     object
 1   chebi_id                13 non-null     int64
 2   inchikey_metabolite     13 non-null     object
 3   inchistring_metabolite  13 non-null     object
 4   smile_metabolite        13 non-null     object
 5   name                    13 non-null     object
 6   description             13 non-null     object
 7   mdbid                   13 non-null     object
 8   moldb_inchi             13 non-null     object
 9   moldb_inchikey          13 non-null     object
dtypes: int64(1), object(9)
memory usage: 1.1+ KB

In [85]:
merge_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fullname_metabolite     0 non-null      object
 1   chebi_id                0 non-null      int64
 2   inchikey_metabolite     0 non-null      object
 3   inchistring_metabolite  0 non-null      object
 4   smile_metabolite        0 non-null      object
 5   name                    0 non-null      object
 6   description             0 non-null      object
 7   mdbid                   0 non-null      object
 8   moldb_inchi             0 non-null      object
 9   moldb_inchikey          0 non-null      object
dtypes: int64(1), object(9)
memory usage: 0.0+ bytes

In [86]:
merge_4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fullname_metabolite     0 non-null      object
 1   chebi_id                0 non-null      int64
 2   inchikey_metabolite     0 non-null      object
 3   inchistring_metabolite  0 non-null      object
 4   smile_metabolite        0 non-null      object
 5   name                    0 non-null      object
 6   description             0 non-null      object
 7   mdbid                   0 non-null      object
 8   moldb_smiles            0 non-null      object
dtypes: int64(1), object(8)
memory usage: 0.0+ bytes

In [87]:
frames = [merge_1,merge_2]

In [88]:
marker_final = pd.concat(frames)

In [89]:
marker_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 12
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fullname_metabolite     49 non-null     object
 1   chebi_id                49 non-null     int64
 2   inchikey_metabolite     49 non-null     object
 3   inchistring_metabolite  49 non-null     object
 4   smile_metabolite        49 non-null     object
 5   name                    49 non-null     object
 6   description             49 non-null     object
 7   mdbid                   49 non-null     object
 8   moldb_inchi             13 non-null     object
 9   moldb_inchikey          13 non-null     object
dtypes: int64(1), object(9)
memory usage: 4.2+ KB

In [90]:
marker.duplicated().sum()

0

In [91]:
marker_final.to_csv('final_merge.csv')

In [92]:
disease = pd.read_csv('markerdb_f.csv')

In [93]:
disease.head()

,name,value,disease,age,Gender,location,concentration,markerdb_id,method,id
0,1-Methylhistidine,33,Alzheimer's Disease,Adult: >=18 yrs old,Both,Urine,15.7 (11.7-19.7) umol/mmol creatinine,129,"Fonteh, A. N., Harrington, R. J., Tsai, A., Li...",17031479.0
1,1-Methylhistidine,5988,Preeclampsia/Eclampsia,Adult: >=18 yrs old,Female,Blood,50.7 uM,367357,NaN,22494326.0
2,1-Methylhistidine,83,Chronic Kidney Disease,Adult: >=18 yrs old,Both,Blood,28.8 (10.6-47.0) uM,958,"Raj, D. S., Ouwendyk, M., Francoeur, R. & Pier...",10838467.0
3,"1,3-Diaminopropane",207,Leukemia,Adult: >=18 yrs old,Both,Urine,0.96 (0.12-2.1) umol/mmol creatinine,1173,"Lee, S. H., Suh, J. W., Chung, B. C. & Kim, S....",9464484.0
4,2-Hydroxybutyric acid,286,Pyruvate Dehydrogenase Deficiency,Adult: >=18 yrs old,Both,Urine,25.0 umol/mmol creatinine,367359,OMIM 238331,NaN

In [65]:
marker_disease = disease[['name','disease','markerdb_id']]

In [68]:
marker_disease.head()

                    name                            disease  markerdb_id
0      1-Methylhistidine                Alzheimer's Disease          129
1      1-Methylhistidine             Preeclampsia/Eclampsia       367357
2      1-Methylhistidine             Chronic Kidney Disease          958
3     1,3-Diaminopropane                           Leukemia         1173
4  2-Hydroxybutyric acid  Pyruvate Dehydrogenase Deficiency       367359

In [70]:
marker_disease['markerdb_id']=marker_disease['markerdb_id'].astype(str)

C:\Users\karim\AppData\Local\Temp\ipykernel_15036\1025884622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marker_disease['markerdb_id']=marker_disease['markerdb_id'].astype(str)

In [71]:
marker_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1759 entries, 0 to 1758
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1759 non-null   object
 1   disease      1759 non-null   object
 2   markerdb_id  1759 non-null   object
dtypes: object(3)
memory usage: 41.4+ KB

In [48]:
marker_final.head()

,fullname_metabolite,chebi_id,inchikey_metabolite,inchistring_metabolite,smile_metabolite,name,description,mdbid,moldb_inchi,moldb_inchikey
0,7a-Hydroxycholesterol,1296,MCKLJFJEQRYRQT-APGJSSKUSA-N,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",[H]O[C@]1([H])C([H])([H])C2=C([H])C([H])([H])[...,7a-Hydroxycholesterol,7alpha-hydroxycholesterol or 7a-hydroxycholest...,MDB00000633,NaN,NaN
1,2-Hydroxybutyric acid,64552,AFENDNXGAFYKQO-UHFFFAOYSA-M,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",[H]OC([H])(C([O-])=O)C([H])([H])C([H])([H])[H],2-Hydroxybutyric acid,"2-Hydroxybutyric acid (CAS: 600-15-7), also kn...",MDB00000004,NaN,NaN
2,2-Hydroxybutyric acid,1148,AFENDNXGAFYKQO-UHFFFAOYSA-M,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",[H]OC([H])(C([O-])=O)C([H])([H])C([H])([H])[H],2-Hydroxybutyric acid,"2-Hydroxybutyric acid (CAS: 600-15-7), also kn...",MDB00000004,NaN,NaN
3,Ortho-Hydroxyphenylacetic acid,62423,CCVYRRGZDBSHFU-UHFFFAOYSA-M,InChI=1S/C8H8O3/c9-7-4-2-1-3-6(7)5-8(10)11/h1-...,[H]OC1=C([H])C([H])=C([H])C([H])=C1C([H])([H])...,Ortho-Hydroxyphenylacetic acid,"ortho-Hydroxyphenylacetic acid, also known as ...",MDB00000353,NaN,NaN
4,(S)-3-Hydroxyisobutyric acid,62638,DBXBTMSZEOQQDU-VKHMYHEASA-M,"InChI=1S/C4H8O3/c1-3(2-5)4(6)7/h3,5H,2H2,1H3,(...",[H]OC([H])([H])[C@@]([H])(C([O-])=O)C([H])([H]...,(S)-3-Hydroxyisobutyric acid,(S)-3-Hydroxyisobutyric (3-HIBA) acid is an or...,MDB00000016,NaN,NaN

In [59]:
marker_merged = marker_final[['name','chebi_id','mdbid']]
marker_merged.head(100)

                                 name  chebi_id        mdbid
0               7a-Hydroxycholesterol      1296  MDB00000633
1               2-Hydroxybutyric acid     64552  MDB00000004
2               2-Hydroxybutyric acid      1148  MDB00000004
3      Ortho-Hydroxyphenylacetic acid     62423  MDB00000353
4        (S)-3-Hydroxyisobutyric acid     62638  MDB00000016
5               5-Aminolevulinic acid    356416  MDB00000539
6          5-Hydroxyindoleacetic acid     62622  MDB00000416
7                        Aflatoxin B1      2504  MDB00001319
8                    2-Hydroxyestrone      1156  MDB00000210
9                    2-Methoxyestrone      1189  MDB00000005
10                         Anandamide      2700  MDB00000999
11                  Isobutyrylglycine    133610  MDB00000394
12                   Cysteinylglycine      4047  MDB00000054
13                   Cysteinylglycine     61694  MDB00000054
14             Estriol-16-Glucuronide       766  MDB00001349
15                          D-Glucose      4167  MDB00000074
16                      Glycylproline     73779  MDB00000390
17                          L-Cystine     35491  MDB00000120
18         3-Methylthiopropionic acid      1438  MDB00000640
19                           Oxytocin      7872  MDB00000884
20                     Norepinephrine     72587  MDB00000136
21                           Spermine     45725  MDB00000560
22                       Liothyronine    533015  MDB00000173
23              24-Hydroxycholesterol     34310  MDB00000607
24         Methylimidazoleacetic acid      1606  MDB00000879
25              Vanillylmandelic acid     20106  MDB00000186
26              Ureidoisobutyric acid      1670  MDB00000753
27                         Lipoxin A4      6498  MDB00001030
28               Ursodeoxycholic acid      9907  MDB00000496
29            Sulfolithocholylglycine      9347  MDB00000848
30                   Pantothenic acid      7916  MDB00000132
31                       Suberic acid      9300  MDB00000470
32                      L-Lactic acid       422  MDB00000118
33           N-Acetyl-L-aspartic acid     21547  MDB00000436
34    20-Hydroxyeicosatetraenoic acid     34306  MDB00001284
35                             5-HETE     60943  MDB00004539
0               5-Aminolevulinic acid    356416  MDB00000539
1                    2-Hydroxyestrone      1156  MDB00000210
2                    2-Methoxyestrone      1189  MDB00000005
3                          Anandamide      2700  MDB00000999
4                    Cysteinylglycine      4047  MDB00000054
5                    Cysteinylglycine     61694  MDB00000054
6              Estriol-16-Glucuronide       766  MDB00001349
7                           D-Glucose      4167  MDB00000074
8                           L-Cystine     35491  MDB00000120
9   13(S)-hydroxyoctadecadienoic acid     34154  MDB00001040
10         3-Methylthiopropionic acid      1438  MDB00000640
11                       Liothyronine    533015  MDB00000173
12              24-Hydroxycholesterol     34310  MDB00000607

In [75]:
final_merge_1 = marker_merged.merge(marker_disease,left_on='name',right_on='name',how='inner')

In [72]:
final_merge_2 = marker_merged.merge(marker_disease,left_on='mdbid',right_on='markerdb_id',how='inner')

In [73]:
final_merge_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name_x       0 non-null      object
 1   chebi_id     0 non-null      int64
 2   mdbid        0 non-null      object
 3   name_y       0 non-null      object
 4   disease      0 non-null      object
 5   markerdb_id  0 non-null      object
dtypes: int64(1), object(5)
memory usage: 0.0+ bytes

In [76]:
final_merge_1.head(100)

,name,chebi_id,mdbid,disease,markerdb_id
0,7a-Hydroxycholesterol,1296,MDB00000633,Cirrhosis,545
1,2-Hydroxybutyric acid,64552,MDB00000004,Pyruvate Dehydrogenase Deficiency,367359
2,2-Hydroxybutyric acid,64552,MDB00000004,Preeclampsia/Eclampsia,367357
3,2-Hydroxybutyric acid,1148,MDB00000004,Pyruvate Dehydrogenase Deficiency,367359
4,2-Hydroxybutyric acid,1148,MDB00000004,Preeclampsia/Eclampsia,367357
...,...,...,...,...,...
95,Suberic acid,9300,MDB00000470,Medium Chain Acyl Co A Dehydrogenase Deficiency,119459
96,Suberic acid,9300,MDB00000470,Carnitine Acylcarnitine Translocase Deficiency,336332
97,Suberic acid,9300,MDB00000470,Malonyl Co A Decarboxylase Deficiency,120409
98,L-Lactic acid,422,MDB00000118,Propionic Acidemia,366791
99,L-Lactic acid,422,MDB00000118,Type V 3-Methylglutaconic Aciduria,366840

In [79]:
final_merge_1.drop_duplicates(subset='name',keep='first',inplace=True)

In [80]:
final_merge_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 138
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         33 non-null     object
 1   chebi_id     33 non-null     int64
 2   mdbid        33 non-null     object
 3   disease      33 non-null     object
 4   markerdb_id  33 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.5+ KB

In [82]:
final_merge_1.to_csv('final_merge_1.csv',index_label=False)

In [26]:
dataset.head()

,abbreviation_metabolite,casregistry_metabolite,cheblid_metabolite,description_metabolite,fullname_metabolite,hmdb_metabolite,inchikey_metabolite,inchistring_metabolite,keggid_metabolite,biocyc_metabolite,...,reconmap3_metabolite,smile_metabolite,synonyms_metabolite,chebi_id,name,definition,inchi_string,synonym,type,accession_number
0,20ahchsterol,516-72-3,1296.0,Human Metabolome Database (HMDB): 20 alpha-hyd...,20alpha-Hydroxycholesterol,HMDB0006283,MCKLJFJEQRYRQT-APGJSSKUSA-N,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",C05500,20A-HYDROXY-CHOLESTEROL,...,20ahchsterol,[H]O[C@]1([H])C([H])([H])C2=C([H])C([H])([H])[...,"(3beta,20R)-Cholest-5-ene-3,20-diol***20-Hydro...",1296,20-hydroxycholesterol,An oxysterol that is cholesterol substituted b...,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",20alpha-Hydroxycholesterol,KEGG COMPOUND accession,C05500
1,xol7a,NaN,17500.0,Human Metabolome Database (HMDB): 7alpha-hydro...,7a-Hydroxycholesterol,HMDB0001496,MCKLJFJEQRYRQT-APGJSSKUSA-N,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",C03594,CPD-266,...,xol7a,[H]O[C@]1([H])C([H])([H])C2=C([H])C([H])([H])[...,7 alpha-Hydroxycholesterol***7-a-Hydroxycholes...,1296,20-hydroxycholesterol,An oxysterol that is cholesterol substituted b...,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",20alpha-Hydroxycholesterol,KEGG COMPOUND accession,C05500
2,2dp6mobq,NaN,50773.0,Human Metabolome Database (HMDB): This compoun...,"2-Decaprenyl-6-methoxy-1,4-benzoquinone",HMDB0060248,POYJNCVGTDCCPK-RDSVHMIISA-N,InChI=1S/C57H86O3/c1-44(2)22-13-23-45(3)24-14-...,NaN,CPD-11659,...,2dp6mobq,[H]C(=C(C([H])([H])[H])C([H])([H])[H])C([H])([...,"2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,...",50773,"2-decaprenyl-6-methoxy-1,4-benzoquinone",NaN,InChI=1S/C57H86O3/c1-44(2)22-13-23-45(3)24-14-...,"2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,...",Beilstein Registry Number,2688027
3,2dr5p,102916-66-5,16132.0,Human Metabolome Database (HMDB): Deoxyribose ...,Deoxyribose 5-phosphate,HMDB0001031,KKZFLSZAWCYPOC-PYHARJCCSA-L,"InChI=1S/C5H11O7P/c6-3-1-5(7)12-4(3)2-11-13(8,...",C00673,DEOXY-RIBOSE-5P,...,2dr5p,[H]OC1([H])O[C@]([H])(C([H])([H])OP([O-])([O-]...,2-Deoxy-alpha-D-ribose 5-phosphate***2-Deoxy-a...,62877,2-deoxy-D-ribofuranose 5-phosphate(2-),An organophosphate oxoanion obtained by deprot...,"InChI=1S/C5H11O7P/c6-3-1-5(7)12-4(3)2-11-13(8,...","[(2R,3S)-3,5-dihydroxyoxolan-2-yl]methyl phosp...",MetaCyc accession,DEOXY-RIBOSE-5P
4,2hb,600-15-7,1148.0,Human Metabolome Database (HMDB): 2-Hydroxybut...,2-Hydroxybutyric acid,HMDB0000008,AFENDNXGAFYKQO-UHFFFAOYSA-M,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",C05984,CPD-3564,...,2hb,[H]OC([H])(C([O-])=O)C([H])([H])C([H])([H])[H],2-Hydroxybutanoic acid***alpha-Hydroxybutanoic...,64552,2-hydroxybutyrate,A hydroxy fatty acid anion that is the conjuga...,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",alpha-hydroxybutanoate,Reaxys Registry Number,3661492

In [28]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265 entries, 0 to 7
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   abbreviation_metabolite  265 non-null    object
 1   casregistry_metabolite   154 non-null    object
 2   cheblid_metabolite       183 non-null    float64
 3   description_metabolite   198 non-null    object
 4   fullname_metabolite      265 non-null    object
 5   hmdb_metabolite          200 non-null    object
 6   inchikey_metabolite      242 non-null    object
 7   inchistring_metabolite   245 non-null    object
 8   keggid_metabolite        202 non-null    object
 9   biocyc_metabolite        80 non-null     object
 10  food_db_metabolite       161 non-null    object
 11  reconmap3_metabolite     162 non-null    object
 12  smile_metabolite         237 non-null    object
 13  synonyms_metabolite      188 non-null    object
 14  chebi_id                 265 non-null    int64
 15  name                     265 non-null    object
 16  definition               238 non-null    object
 17  inchi_string             265 non-null    object
 18  synonym                  265 non-null    object
 19  type                     265 non-null    object
 20  accession_number         265 non-null    object
dtypes: float64(1), int64(1), object(19)
memory usage: 45.5+ KB

In [29]:
biomarker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name_of_disease            115 non-null    object
 1   abbreviation_of_disease    115 non-null    object
 2   type_of_disease            115 non-null    object
 3   notes_of_disease           115 non-null    object
 4   phenotype                  108 non-null    object
 5   organ_affected             114 non-null    object
 6   cheblid_of_biomarker       67 non-null     float64
 7   description_of_biomarker   66 non-null     object
 8   fullname_of_biomarker      115 non-null    object
 9   abbreviation_of_biomarker  115 non-null    object
 10  inchikey_of_biomarker      115 non-null    object
 11  inchistring_of_biomarker   115 non-null    object
 12  keggid_of_biomarker        41 non-null     object
 13  casregistry_of_biomarker   48 non-null     object
 14  value_of_biomarker         115 non-null    object
 15  normal_conc_of_biomarker   115 non-null    object
 16  ramedis_of_biomarker       26 non-null     object
 17  range_conc_of_biomarker    114 non-null    object
 18  biocyc_biomarker           40 non-null     object
 19  smile_biomarker            115 non-null    object
 20  hmdb_biomarker             75 non-null     object
 21  reconMap3_biomarker        115 non-null    object
 22  food_db_biomarker          66 non-null     object
 23  pubChemId_biomarker        98 non-null     float64
dtypes: float64(2), object(22)
memory usage: 21.7+ KB

In [41]:
one = dataset.merge(biomarker, left_on='fullname_metabolite',right_on='fullname_of_biomarker',how='inner')

In [42]:
two = dataset.merge(biomarker, left_on='keggid_metabolite',right_on='keggid_of_biomarker',how='inner')

In [43]:
three = dataset.merge(biomarker, left_on='casregistry_metabolite',right_on='casregistry_of_biomarker',how='inner')

In [44]:
four = dataset.merge(biomarker, left_on='cheblid_metabolite',right_on='cheblid_of_biomarker',how='inner')

In [45]:
frames_1 = [one,two,three,four]
df = pd.concat(frames_1)

In [48]:
df.info()
df.drop_duplicates(subset='name',keep='first',inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16039 entries, 0 to 3937
Data columns (total 45 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   abbreviation_metabolite    16039 non-null  object
 1   casregistry_metabolite     2000 non-null   object
 2   cheblid_metabolite         4936 non-null   float64
 3   description_metabolite     7052 non-null   object
 4   fullname_metabolite        16039 non-null  object
 5   hmdb_metabolite            7386 non-null   object
 6   inchikey_metabolite        13353 non-null  object
 7   inchistring_metabolite     13747 non-null  object
 8   keggid_metabolite          6400 non-null   object
 9   biocyc_metabolite          1314 non-null   object
 10  food_db_metabolite         4131 non-null   object
 11  reconmap3_metabolite       7416 non-null   object
 12  smile_metabolite           13116 non-null  object
 13  synonyms_metabolite        6306 non-null   object
 14  chebi_id                   16039 non-null  int64
 15  name                       16039 non-null  object
 16  definition                 14344 non-null  object
 17  inchi_string               16039 non-null  object
 18  synonym                    16039 non-null  object
 19  type                       16039 non-null  object
 20  accession_number           16039 non-null  object
 21  name_of_disease            16039 non-null  object
 22  abbreviation_of_disease    16039 non-null  object
 23  type_of_disease            16039 non-null  object
 24  notes_of_disease           16039 non-null  object
 25  phenotype                  15435 non-null  object
 26  organ_affected             15865 non-null  object
 27  cheblid_of_biomarker       4273 non-null   float64
 28  description_of_biomarker   4229 non-null   object
 29  fullname_of_biomarker      16039 non-null  object
 30  abbreviation_of_biomarker  16039 non-null  object
 31  inchikey_of_biomarker      16039 non-null  object
 32  inchistring_of_biomarker   16039 non-null  object
 33  keggid_of_biomarker        246 non-null    object
 34  casregistry_of_biomarker   687 non-null    object
 35  value_of_biomarker         16039 non-null  object
 36  normal_conc_of_biomarker   16039 non-null  object
 37  ramedis_of_biomarker       4232 non-null   object
 38  range_conc_of_biomarker    16039 non-null  object
 39  biocyc_biomarker           697 non-null    object
 40  smile_biomarker            16039 non-null  object
 41  hmdb_biomarker             5799 non-null   object
 42  reconMap3_biomarker        16039 non-null  object
 43  food_db_biomarker          4229 non-null   object
 44  pubChemId_biomarker        11687 non-null  float64
dtypes: float64(3), int64(1), object(41)
memory usage: 5.6+ MB

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 3648
Data columns (total 45 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   abbreviation_metabolite    136 non-null    object
 1   casregistry_metabolite     28 non-null     object
 2   cheblid_metabolite         57 non-null     float64
 3   description_metabolite     75 non-null     object
 4   fullname_metabolite        136 non-null    object
 5   hmdb_metabolite            77 non-null     object
 6   inchikey_metabolite        114 non-null    object
 7   inchistring_metabolite     118 non-null    object
 8   keggid_metabolite          73 non-null     object
 9   biocyc_metabolite          15 non-null     object
 10  food_db_metabolite         49 non-null     object
 11  reconmap3_metabolite       70 non-null     object
 12  smile_metabolite           113 non-null    object
 13  synonyms_metabolite        68 non-null     object
 14  chebi_id                   136 non-null    int64
 15  name                       136 non-null    object
 16  definition                 121 non-null    object
 17  inchi_string               136 non-null    object
 18  synonym                    136 non-null    object
 19  type                       136 non-null    object
 20  accession_number           136 non-null    object
 21  name_of_disease            136 non-null    object
 22  abbreviation_of_disease    136 non-null    object
 23  type_of_disease            136 non-null    object
 24  notes_of_disease           136 non-null    object
 25  phenotype                  136 non-null    object
 26  organ_affected             136 non-null    object
 27  cheblid_of_biomarker       1 non-null      float64
 28  description_of_biomarker   12 non-null     object
 29  fullname_of_biomarker      136 non-null    object
 30  abbreviation_of_biomarker  136 non-null    object
 31  inchikey_of_biomarker      136 non-null    object
 32  inchistring_of_biomarker   136 non-null    object
 33  keggid_of_biomarker        12 non-null     object
 34  casregistry_of_biomarker   12 non-null     object
 35  value_of_biomarker         136 non-null    object
 36  normal_conc_of_biomarker   136 non-null    object
 37  ramedis_of_biomarker       12 non-null     object
 38  range_conc_of_biomarker    136 non-null    object
 39  biocyc_biomarker           0 non-null      object
 40  smile_biomarker            136 non-null    object
 41  hmdb_biomarker             13 non-null     object
 42  reconMap3_biomarker        136 non-null    object
 43  food_db_biomarker          12 non-null     object
 44  pubChemId_biomarker        136 non-null    float64
dtypes: float64(3), int64(1), object(41)
memory usage: 48.9+ KB

In [50]:
disease_2 = df[['name','name_of_disease','chebi_id','organ_affected']]

In [51]:
disease_2.head()

,name,name_of_disease,chebi_id,organ_affected
0,3-hydroxybutyrylcarnitine,Beta-Ketothiolase Deficiency,72995,Nervous system
0,"2-decaprenyl-6-methoxy-1,4-benzoquinone",Beta-Ketothiolase Deficiency,50773,Nervous system
74,2-hydroxy-4-methylvalerate,Beta-Ketothiolase Deficiency,133577,Nervous system
148,3-amino-2-oxopropyl phosphate,Beta-Ketothiolase Deficiency,1449,Nervous system
222,3'-AMP(2-),Beta-Ketothiolase Deficiency,60880,Nervous system

In [53]:
disease_2.rename(columns={'name_of_disease':'disease'},inplace=True)

C:\Users\karim\AppData\Local\Temp\ipykernel_6472\1132448168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disease_2.rename(columns={'name_of_disease':'disease'},inplace=True)

In [54]:
last = pd.read_csv('last.csv')

In [55]:
last.head()

,number,name,chebi_id,mdbid,disease,markerdb_id,Gender,location,concentration,concentration_1,publication,publication_1
0,0,7a-Hydroxycholesterol,1296,MDB00000633,Cirrhosis,545,Both,Blood,0.054 (0.035-0.073) uM,0.054 (0.035-0.073) uM,"Hahn, C., Reichel, C. & von Bergmann, K. Serum...","Hahn, C., Reichel, C. & von Bergmann, K. Serum..."
1,2,2-Hydroxybutyric acid,64552,MDB00000004,Pyruvate Dehydrogenase Deficiency,367359,Both,Urine,25.0 umol/mmol creatinine,25.0 umol/mmol creatinine,OMIM 238331,OMIM 238331
2,3,Ortho-Hydroxyphenylacetic acid,62423,MDB00000353,Phenylketonuria,1530,Both,Urine,36.5 (0-76.1) umol/mmol creatinine,36.5 (0-76.1) umol/mmol creatinine,"Monch, E., Kneer, J., Jakobs, C., Arnold, M., ...","Monch, E., Kneer, J., Jakobs, C., Arnold, M., ..."
3,8,(S)-3-Hydroxyisobutyric acid,62638,MDB00000016,Diabetes Mellitus Type 2,687,Both,Blood,38.0 (33.0-43.0) uM,38.0 (33.0-43.0) uM,"Avogaro, A. & Bier, D. M. Contribution of 3-hy...","Avogaro, A. & Bier, D. M. Contribution of 3-hy..."
4,12,5-Aminolevulinic acid,356416,MDB00000539,Eosinophilic Esophagitis,367194,Unknown,Urine,19.2 (2.7-35.8) umol/mmol creatinine,19.2 (2.7-35.8) umol/mmol creatinine,"Mordechai, Hien, and David S. Wishart","Mordechai, Hien, and David S. Wishart"

In [56]:
frames_2 = [last,disease_2]

In [60]:
merge = pd.concat(frames_2)

In [62]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 3648
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   number           33 non-null     float64
 1   name             169 non-null    object
 2   chebi_id         169 non-null    int64
 3   mdbid            33 non-null     object
 4   disease          169 non-null    object
 5   markerdb_id      33 non-null     float64
 6   Gender           33 non-null     object
 7   location         33 non-null     object
 8   concentration    33 non-null     object
 9   concentration_1  33 non-null     object
 10  publication      27 non-null     object
 11  publication_1    27 non-null     object
 12  organ_affected   136 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 18.5+ KB

In [64]:
merge.drop_duplicates(subset='name',keep='first',inplace=True)

In [65]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 3648
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   number           33 non-null     float64
 1   name             169 non-null    object
 2   chebi_id         169 non-null    int64
 3   mdbid            33 non-null     object
 4   disease          169 non-null    object
 5   markerdb_id      33 non-null     float64
 6   Gender           33 non-null     object
 7   location         33 non-null     object
 8   concentration    33 non-null     object
 9   concentration_1  33 non-null     object
 10  publication      27 non-null     object
 11  publication_1    27 non-null     object
 12  organ_affected   136 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 18.5+ KB

In [95]:
disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1759 entries, 0 to 1758
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1759 non-null   object
 1   value          1759 non-null   int64
 2   disease        1759 non-null   object
 3   age            1758 non-null   object
 4   Gender         1759 non-null   object
 5   location       1759 non-null   object
 6   concentration  1759 non-null   object
 7   markerdb_id    1759 non-null   int64
 8   method         1107 non-null   object
 9   id             1299 non-null   float64
dtypes: float64(1), int64(2), object(7)
memory usage: 137.5+ KB

In [100]:
new_merge = merge.merge(disease,on=('name'),how='inner')

In [101]:
new_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 108
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   number           109 non-null    float64
 1   name             109 non-null    object
 2   chebi_id         109 non-null    int64
 3   mdbid            109 non-null    object
 4   disease_x        109 non-null    object
 5   markerdb_id_x    109 non-null    float64
 6   Gender_x         109 non-null    object
 7   location_x       109 non-null    object
 8   concentration_x  109 non-null    object
 9   concentration_1  109 non-null    object
 10  publication      63 non-null     object
 11  publication_1    63 non-null     object
 12  organ_affected   0 non-null      object
 13  value            109 non-null    int64
 14  disease_y        109 non-null    object
 15  age              108 non-null    object
 16  Gender_y         109 non-null    object
 17  location_y       109 non-null    object
 18  concentration_y  109 non-null    object
 19  markerdb_id_y    109 non-null    int64
 20  method           67 non-null     object
 21  id               98 non-null     float64
dtypes: float64(3), int64(3), object(16)
memory usage: 19.6+ KB

In [102]:
merge_12 = new_merge[['name','disease_x','Gender_x','concentration_x','concentration_1','location_x','publication']]

In [103]:
merge_12.head()

,name,disease_x,Gender_x,concentration_x,concentration_1,location_x,publication
0,7a-Hydroxycholesterol,Cirrhosis,Both,0.054 (0.035-0.073) uM,0.054 (0.035-0.073) uM,Blood,"Hahn, C., Reichel, C. & von Bergmann, K. Serum..."
1,2-Hydroxybutyric acid,Pyruvate Dehydrogenase Deficiency,Both,25.0 umol/mmol creatinine,25.0 umol/mmol creatinine,Urine,OMIM 238331
2,2-Hydroxybutyric acid,Pyruvate Dehydrogenase Deficiency,Both,25.0 umol/mmol creatinine,25.0 umol/mmol creatinine,Urine,OMIM 238331
3,Ortho-Hydroxyphenylacetic acid,Phenylketonuria,Both,36.5 (0-76.1) umol/mmol creatinine,36.5 (0-76.1) umol/mmol creatinine,Urine,"Monch, E., Kneer, J., Jakobs, C., Arnold, M., ..."
4,(S)-3-Hydroxyisobutyric acid,Diabetes Mellitus Type 2,Both,38.0 (33.0-43.0) uM,38.0 (33.0-43.0) uM,Blood,"Avogaro, A. & Bier, D. M. Contribution of 3-hy..."

In [104]:
merge_12.to_csv('merg_12.csv',index_label=False)