In [2]:
import pandas as pd

In [3]:
datnam = pd.read_csv('database_accession_3star.tsv', sep= '\t')
lames = pd.read_csv('names_3star.tsv',sep= '\t')

In [4]:
datnam.head()

      ID  COMPOUND_ID         SOURCE                     TYPE ACCESSION_NUMBER
0  15233        27531  KEGG COMPOUND  KEGG COMPOUND accession           C06095
1  15256        67986  KEGG COMPOUND  KEGG COMPOUND accession           C08945
2  15257        67986  KEGG COMPOUND      CAS Registry Number       52286-58-5
3  15296         5381  KEGG COMPOUND  KEGG COMPOUND accession           C09753
4  15297         5381  KEGG COMPOUND      CAS Registry Number       87440-56-0

In [5]:
datnam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214526 entries, 0 to 214525
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                214526 non-null  int64
 1   COMPOUND_ID       214526 non-null  int64
 2   SOURCE            214526 non-null  object
 3   TYPE              214526 non-null  object
 4   ACCESSION_NUMBER  214525 non-null  object
dtypes: int64(2), object(3)
memory usage: 8.2+ MB

In [6]:
datnam.duplicated().sum()

0

In [7]:
datnam.dropna(inplace= True)

way easier way to make everything lower case

In [8]:
datnam.columns= datnam.columns.str.lower()

In [9]:
datnam.head()

      id  compound_id         source                     type accession_number
0  15233        27531  KEGG COMPOUND  KEGG COMPOUND accession           C06095
1  15256        67986  KEGG COMPOUND  KEGG COMPOUND accession           C08945
2  15257        67986  KEGG COMPOUND      CAS Registry Number       52286-58-5
3  15296         5381  KEGG COMPOUND  KEGG COMPOUND accession           C09753
4  15297         5381  KEGG COMPOUND      CAS Registry Number       87440-56-0

In [10]:
lames.head()

,ID,COMPOUND_ID,TYPE,SOURCE,NAME,ADAPTED,LANGUAGE
0,2,18357,SYNONYM,KEGG COMPOUND,Noradrenaline,F,en
1,3,18357,SYNONYM,KEGG COMPOUND,L-Noradrenaline,F,en
2,4,18357,SYNONYM,KEGG COMPOUND,Norepinephrine,F,en
3,5,18357,SYNONYM,KEGG COMPOUND,Arterenol,F,en
4,9,28234,SYNONYM,KEGG COMPOUND,"(+)-(3S,4R)-cis-3,4-Dihydroxy-3,4-dihydrofluorene",F,en

In [13]:
lames.nunique()

ID             241744
COMPOUND_ID     58536
TYPE                5
SOURCE             42
NAME           231910
ADAPTED             2
LANGUAGE            5
dtype: int64

In [14]:
lames.duplicated().sum()

0

In [15]:

lames.columns = lames.columns.str.lower()

In [17]:
lames.head()

,id,compound_id,type,source,name,adapted,language
0,2,18357,SYNONYM,KEGG COMPOUND,Noradrenaline,F,en
1,3,18357,SYNONYM,KEGG COMPOUND,L-Noradrenaline,F,en
2,4,18357,SYNONYM,KEGG COMPOUND,Norepinephrine,F,en
3,5,18357,SYNONYM,KEGG COMPOUND,Arterenol,F,en
4,9,28234,SYNONYM,KEGG COMPOUND,"(+)-(3S,4R)-cis-3,4-Dihydroxy-3,4-dihydrofluorene",F,en

In [22]:
lames.to_csv('namesf',sep='\t', index = False)

In [23]:
datnam.to_csv('datnamf',sep='\t',index = False)