In [1]:
import pandas as pd

In [2]:
marker = pd.read_csv('marker_db.csv')
disease = pd.read_csv('markerdb_f.csv')
final = pd.read_csv('final_dataset.csv')
merge = pd.read_csv('final_merge.csv')
merge_1 = pd.read_csv('final_merge_1.csv')
marker_final = pd.read_csv('final_marker.csv')

In [3]:
marker.head()

,name,description,hmdb,moldb_smiles,moldb_formula,moldb_inchi,moldb_inchikey,moldb_iupac,moldb_logp,moldb_pka,...,moldb_pka_strongest_basic,moldb_pka_strongest_acidic,moldb_bioavailability,moldb_number_of_rings,moldb_rule_of_five,moldb_ghose_filter,moldb_veber_rule,moldb_mddr_like_rule,mdbid,panel_marker_id
0,1-Methylhistidine,"1-Methylhistidine, also known as 1-MHis or 1MH...",HMDB0000001,CN1C=NC(C[C@H](N)C(O)=O)=C1,C7H11N3O2,1S/C7H11N3O2/c1-10-3-5(9-4-10)2-6(8)7(11)12/h3...,BRMWTNUJHUMWMS-LURJTMIESA-N,2-amino-3-(1-methyl-1H-imidazol-4-yl)propanoic...,-3.070419,NaN,...,9.250317,1.964588,1.0,1.0,1.0,0.0,0.0,0.0,MDB00000001,"5184,5199,5206,5236,5288,5291,5313,5338,5440,5441"
1,"1,3-Diaminopropane","1,3-Diaminopropane, also known as trimethylene...",HMDB0000002,NCCCN,C3H10N2,1S/C3H10N2/c4-2-1-3-5/h1-5H2,XFNJVJPLKCPIBV-UHFFFAOYSA-N,"propane-1,3-diamine",-1.362483,NaN,...,10.169241,NaN,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000002,5300
2,2-Hydroxybutyric acid,"2-Hydroxybutyric acid (CAS: 600-15-7), also kn...",HMDB0000008,CCC(O)C(O)=O,C4H8O3,"1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(H,6,7)",AFENDNXGAFYKQO-UHFFFAOYSA-N,(2S)-2-hydroxybutanoic acid,0.050693,14.293154,...,-3.793588,3.989999,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000004,"5338,5440,5497"
3,2-Methoxyestrone,2-Methoxyestrone is a steroid derivative that ...,HMDB0000010,[H][C@@]12CCC(=O)[C@@]1(C)CC[C@]1([H])C3=C(CC[...,C19H24O3,1S/C19H24O3/c1-19-8-7-12-13(15(19)5-6-18(19)21...,WHEUWNKSCXYKBU-QPWUGHHJSA-N,"(1S,10R,11S,15S)-5-hydroxy-4-methoxy-15-methyl...",4.151358,19.957534,...,-4.882522,10.290800,1.0,4.0,1.0,1.0,0.0,0.0,MDB00000005,NaN
4,(R)-3-Hydroxybutyric acid,(R)-3-Hydroxybutyric acid is a butyric acid su...,HMDB0000011,C[C@@H](O)CC(O)=O,C4H8O3,"1S/C4H8O3/c1-3(5)2-4(6)7/h3,5H,2H2,1H3,(H,6,7)...",WHBMMWSBFZVSSR-GSVOUGTGSA-N,(3R)-3-hydroxybutanoic acid,-0.387006,15.695695,...,-2.620513,4.406291,1.0,0.0,1.0,0.0,0.0,0.0,MDB00000006,"5173,5179,5183,5199,5200,5212,5237,5269,5305,5..."

In [4]:
marker_final = marker_final.reset_index(drop=True)

In [5]:
marker_final.head()

,name,chebi_id,mdbid,disease,markerdb_id,Gender,location,concentration
0,7a-Hydroxycholesterol,1296,MDB00000633,Cirrhosis,545,Both,Blood,0.054 (0.035-0.073) uM
1,2-Hydroxybutyric acid,64552,MDB00000004,Pyruvate Dehydrogenase Deficiency,367359,Both,Urine,25.0 umol/mmol creatinine
2,Ortho-Hydroxyphenylacetic acid,62423,MDB00000353,Phenylketonuria,1530,Both,Urine,36.5 (0-76.1) umol/mmol creatinine
3,(S)-3-Hydroxyisobutyric acid,62638,MDB00000016,Diabetes Mellitus Type 2,687,Both,Blood,38.0 (33.0-43.0) uM
4,5-Aminolevulinic acid,356416,MDB00000539,Eosinophilic Esophagitis,367194,Unknown,Urine,19.2 (2.7-35.8) umol/mmol creatinine

In [6]:
disease.head()

,name,value,disease,age,Gender,location,concentration,markerdb_id,method,id
0,1-Methylhistidine,33,Alzheimer's Disease,Adult: >=18 yrs old,Both,Urine,15.7 (11.7-19.7) umol/mmol creatinine,129,"Fonteh, A. N., Harrington, R. J., Tsai, A., Li...",17031479.0
1,1-Methylhistidine,5988,Preeclampsia/Eclampsia,Adult: >=18 yrs old,Female,Blood,50.7 uM,367357,NaN,22494326.0
2,1-Methylhistidine,83,Chronic Kidney Disease,Adult: >=18 yrs old,Both,Blood,28.8 (10.6-47.0) uM,958,"Raj, D. S., Ouwendyk, M., Francoeur, R. & Pier...",10838467.0
3,"1,3-Diaminopropane",207,Leukemia,Adult: >=18 yrs old,Both,Urine,0.96 (0.12-2.1) umol/mmol creatinine,1173,"Lee, S. H., Suh, J. W., Chung, B. C. & Kim, S....",9464484.0
4,2-Hydroxybutyric acid,286,Pyruvate Dehydrogenase Deficiency,Adult: >=18 yrs old,Both,Urine,25.0 umol/mmol creatinine,367359,OMIM 238331,NaN

In [7]:
disease.head()

,name,value,disease,age,Gender,location,concentration,markerdb_id,method,id
0,1-Methylhistidine,33,Alzheimer's Disease,Adult: >=18 yrs old,Both,Urine,15.7 (11.7-19.7) umol/mmol creatinine,129,"Fonteh, A. N., Harrington, R. J., Tsai, A., Li...",17031479.0
1,1-Methylhistidine,5988,Preeclampsia/Eclampsia,Adult: >=18 yrs old,Female,Blood,50.7 uM,367357,NaN,22494326.0
2,1-Methylhistidine,83,Chronic Kidney Disease,Adult: >=18 yrs old,Both,Blood,28.8 (10.6-47.0) uM,958,"Raj, D. S., Ouwendyk, M., Francoeur, R. & Pier...",10838467.0
3,"1,3-Diaminopropane",207,Leukemia,Adult: >=18 yrs old,Both,Urine,0.96 (0.12-2.1) umol/mmol creatinine,1173,"Lee, S. H., Suh, J. W., Chung, B. C. & Kim, S....",9464484.0
4,2-Hydroxybutyric acid,286,Pyruvate Dehydrogenase Deficiency,Adult: >=18 yrs old,Both,Urine,25.0 umol/mmol creatinine,367359,OMIM 238331,NaN

In [8]:
merge.head()

,Unnamed: 0,fullname_metabolite,chebi_id,inchikey_metabolite,inchistring_metabolite,smile_metabolite,name,description,mdbid,moldb_inchi,moldb_inchikey
0,0,7a-Hydroxycholesterol,1296,MCKLJFJEQRYRQT-APGJSSKUSA-N,"InChI=1S/C27H46O2/c1-18(2)7-6-14-27(5,29)24-11...",[H]O[C@]1([H])C([H])([H])C2=C([H])C([H])([H])[...,7a-Hydroxycholesterol,7alpha-hydroxycholesterol or 7a-hydroxycholest...,MDB00000633,NaN,NaN
1,1,2-Hydroxybutyric acid,64552,AFENDNXGAFYKQO-UHFFFAOYSA-M,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",[H]OC([H])(C([O-])=O)C([H])([H])C([H])([H])[H],2-Hydroxybutyric acid,"2-Hydroxybutyric acid (CAS: 600-15-7), also kn...",MDB00000004,NaN,NaN
2,2,2-Hydroxybutyric acid,1148,AFENDNXGAFYKQO-UHFFFAOYSA-M,"InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...",[H]OC([H])(C([O-])=O)C([H])([H])C([H])([H])[H],2-Hydroxybutyric acid,"2-Hydroxybutyric acid (CAS: 600-15-7), also kn...",MDB00000004,NaN,NaN
3,3,Ortho-Hydroxyphenylacetic acid,62423,CCVYRRGZDBSHFU-UHFFFAOYSA-M,InChI=1S/C8H8O3/c9-7-4-2-1-3-6(7)5-8(10)11/h1-...,[H]OC1=C([H])C([H])=C([H])C([H])=C1C([H])([H])...,Ortho-Hydroxyphenylacetic acid,"ortho-Hydroxyphenylacetic acid, also known as ...",MDB00000353,NaN,NaN
4,4,(S)-3-Hydroxyisobutyric acid,62638,DBXBTMSZEOQQDU-VKHMYHEASA-M,"InChI=1S/C4H8O3/c1-3(2-5)4(6)7/h3,5H,2H2,1H3,(...",[H]OC([H])([H])[C@@]([H])(C([O-])=O)C([H])([H]...,(S)-3-Hydroxyisobutyric acid,(S)-3-Hydroxyisobutyric (3-HIBA) acid is an or...,MDB00000016,NaN,NaN

In [9]:
merge_1.head()

,name,chebi_id,mdbid,disease,markerdb_id
0,7a-Hydroxycholesterol,1296,MDB00000633,Cirrhosis,545
1,2-Hydroxybutyric acid,64552,MDB00000004,Pyruvate Dehydrogenase Deficiency,367359
5,Ortho-Hydroxyphenylacetic acid,62423,MDB00000353,Phenylketonuria,1530
6,(S)-3-Hydroxyisobutyric acid,62638,MDB00000016,Diabetes Mellitus Type 2,687
7,5-Aminolevulinic acid,356416,MDB00000539,Eosinophilic Esophagitis,367194

In [10]:
final_marker = merge_1.merge(disease,on=('name','markerdb_id'),how='inner')

In [11]:
final_marker.head()

,name,chebi_id,mdbid,disease_x,markerdb_id,value,disease_y,age,Gender,location,concentration,method,id
0,7a-Hydroxycholesterol,1296,MDB00000633,Cirrhosis,545,85,Cirrhosis,Adult: >=18 yrs old,Both,Blood,0.054 (0.035-0.073) uM,"Hahn, C., Reichel, C. & von Bergmann, K. Serum...",8558093.0
1,2-Hydroxybutyric acid,64552,MDB00000004,Pyruvate Dehydrogenase Deficiency,367359,286,Pyruvate Dehydrogenase Deficiency,Adult: >=18 yrs old,Both,Urine,25.0 umol/mmol creatinine,OMIM 238331,NaN
2,Ortho-Hydroxyphenylacetic acid,62423,MDB00000353,Phenylketonuria,1530,267,Phenylketonuria,Newborn: 0 day-1 wk,Both,Urine,36.5 (0-76.1) umol/mmol creatinine,"Monch, E., Kneer, J., Jakobs, C., Arnold, M., ...",2091926.0
3,(S)-3-Hydroxyisobutyric acid,62638,MDB00000016,Diabetes Mellitus Type 2,687,115,Diabetes Mellitus Type 2,Adult: >=18 yrs old,Both,Blood,38.0 (33.0-43.0) uM,"Avogaro, A. & Bier, D. M. Contribution of 3-hy...",2614280.0
4,5-Aminolevulinic acid,356416,MDB00000539,Eosinophilic Esophagitis,367194,5823,Eosinophilic Esophagitis,Children: 2-17 yrs old,Unknown,Urine,19.2 (2.7-35.8) umol/mmol creatinine,"Mordechai, Hien, and David S. Wishart",NaN

In [12]:
final_marker.duplicated().sum()

0

In [13]:
marker_final.to_csv('final_marker.csv',index=False)

In [14]:
mar = pd.read_csv('final_marker.csv')

In [15]:
mar.head()

,name,chebi_id,mdbid,disease,markerdb_id,Gender,location,concentration
0,7a-Hydroxycholesterol,1296,MDB00000633,Cirrhosis,545,Both,Blood,0.054 (0.035-0.073) uM
1,2-Hydroxybutyric acid,64552,MDB00000004,Pyruvate Dehydrogenase Deficiency,367359,Both,Urine,25.0 umol/mmol creatinine
2,Ortho-Hydroxyphenylacetic acid,62423,MDB00000353,Phenylketonuria,1530,Both,Urine,36.5 (0-76.1) umol/mmol creatinine
3,(S)-3-Hydroxyisobutyric acid,62638,MDB00000016,Diabetes Mellitus Type 2,687,Both,Blood,38.0 (33.0-43.0) uM
4,5-Aminolevulinic acid,356416,MDB00000539,Eosinophilic Esophagitis,367194,Unknown,Urine,19.2 (2.7-35.8) umol/mmol creatinine

In [16]:
mar['concentration_1']=mar['concentration']

In [17]:
mar.head()

,name,chebi_id,mdbid,disease,markerdb_id,Gender,location,concentration,concentration_1
0,7a-Hydroxycholesterol,1296,MDB00000633,Cirrhosis,545,Both,Blood,0.054 (0.035-0.073) uM,0.054 (0.035-0.073) uM
1,2-Hydroxybutyric acid,64552,MDB00000004,Pyruvate Dehydrogenase Deficiency,367359,Both,Urine,25.0 umol/mmol creatinine,25.0 umol/mmol creatinine
2,Ortho-Hydroxyphenylacetic acid,62423,MDB00000353,Phenylketonuria,1530,Both,Urine,36.5 (0-76.1) umol/mmol creatinine,36.5 (0-76.1) umol/mmol creatinine
3,(S)-3-Hydroxyisobutyric acid,62638,MDB00000016,Diabetes Mellitus Type 2,687,Both,Blood,38.0 (33.0-43.0) uM,38.0 (33.0-43.0) uM
4,5-Aminolevulinic acid,356416,MDB00000539,Eosinophilic Esophagitis,367194,Unknown,Urine,19.2 (2.7-35.8) umol/mmol creatinine,19.2 (2.7-35.8) umol/mmol creatinine

In [18]:
mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             38 non-null     object
 1   chebi_id         38 non-null     int64
 2   mdbid            38 non-null     object
 3   disease          38 non-null     object
 4   markerdb_id      38 non-null     int64
 5   Gender           38 non-null     object
 6   location         38 non-null     object
 7   concentration    38 non-null     object
 8   concentration_1  38 non-null     object
dtypes: int64(2), object(7)
memory usage: 2.8+ KB

In [13]:
mar.to_csv('test.csv',index_label=False)