In [1]:
import pandas as pd
import numpy as np

In [3]:
chebild = pd.read_csv('chebiId_inchi_3star.tsv', sep='\t')

In [5]:
chebild.head(100)

    CHEBI_ID                                              InChI
0         90  InChI=1S/C15H14O6/c16-8-4-11(18)9-6-13(20)15(2...
1        165  InChI=1S/C10H16O/c1-9(2)7-4-5-10(3,6-7)8(9)11/...
2        776  InChI=1S/C18H22O3/c1-18-7-6-13-12-5-3-11(19)8-...
3        943    InChI=1S/C7H3Cl2N/c8-6-2-1-3-7(9)5(6)4-10/h1-3H
4       1148  InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...
..       ...                                                ...
95      4354  InChI=1S/C14H14O4/c1-14(2)12(15)6-9-5-8-3-4-13...
96      4379  InChI=1S/C22H28N6O3S.CH4O3S/c1-15(2)24-19-5-4-...
97      4392  InChI=1S/C21H21ClN2O8/c1-24(2)14-7-5-6-10(16(2...
98      4470  InChI=1S/C18H25NO/c1-19-10-9-18-8-4-3-5-15(18)...
99      4474  InChI=1S/C16H23NO/c1-16-8-4-2-3-5-12(15(16)17)...

[100 rows x 2 columns]

In [6]:
chebild.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43936 entries, 0 to 43935
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CHEBI_ID  43936 non-null  int64
 1   InChI     43936 non-null  object
dtypes: int64(1), object(1)
memory usage: 686.6+ KB

In [7]:
chebild.nunique()

CHEBI_ID    43934
InChI       43123
dtype: int64

In [8]:
chebild.duplicated().sum()

2

In [12]:
chebild.drop_duplicates(inplace=True)

In [14]:
chebild.duplicated().sum()

0