In [1]:
import json
import pandas as pd
import numpy as np

In [6]:
results = pd.read_json("results_page_1.json")

In [7]:
results.head()

,metabolite,iem,name,value,normalConcentration,rangeConcentration,reference,ramedis
0,"{'met_id': 345, 'abbreviation': 'gly', 'create...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,180.00-740.00,550.00-1350.00,"PMID: 21325949, PMID: 24190799",
1,"{'met_id': 928, 'abbreviation': 'pro_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,95.00 - 320.00,830-1360,"PMID: 21325949, PMID: 24190799",
2,"{'met_id': 984, 'abbreviation': 'val_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,65.00-215,210.00 - 650.00,"PMID: 21325949, PMID: 24190799","125, 133, 337"
3,"{'met_id': 370, 'abbreviation': 'thr_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,25 - 150,,"PMID: 21325949, PMID: 24190799",
4,"{'met_id': 523, 'abbreviation': 'met_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,10.00-38.00,56.00 -170.00,"PMID: 21325949, PMID: 24190799",

In [8]:
results.head()

,metabolite,iem,name,value,normalConcentration,rangeConcentration,reference,ramedis
0,"{'met_id': 345, 'abbreviation': 'gly', 'create...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,180.00-740.00,550.00-1350.00,"PMID: 21325949, PMID: 24190799",
1,"{'met_id': 928, 'abbreviation': 'pro_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,95.00 - 320.00,830-1360,"PMID: 21325949, PMID: 24190799",
2,"{'met_id': 984, 'abbreviation': 'val_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,65.00-215,210.00 - 650.00,"PMID: 21325949, PMID: 24190799","125, 133, 337"
3,"{'met_id': 370, 'abbreviation': 'thr_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,25 - 150,,"PMID: 21325949, PMID: 24190799",
4,"{'met_id': 523, 'abbreviation': 'met_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",NaN,Increased,10.00-38.00,56.00 -170.00,"PMID: 21325949, PMID: 24190799",