In [1]:
import pandas as pd
import numpy as np

In [2]:
bio = pd.read_csv('biomarkers_final.csv')
metabo = pd.read_csv('metabolites.csv')

In [3]:
metabo.head()

,casregistry_metabolite,cheblid_metabolite,description_metabolite,fullName_metabolite,hmdb_metabolite,inchiKey_metabolite,inchiString_metabolite,keggid_metabolite,biocyc_metabolite,food_db_metabolite,reconmap3_metabolite,smile_metabolite
0,2800-34-2,15637.0,Human Metabolome Database (HMDB): 10-Formyltet...,10-Formyltetrahydrofolate,HMDB0000972,AUFGTPPARQZWDO-YUZLPWPTSA-L,InChI=1S/C20H23N7O7/c21-20-25-16-15(18(32)26-2...,C00234,10-FORMYL-THF,FDB022345,10fthf,[H]OC1=NC(=NC2=C1N([H])C([H])(C([H])([H])N(C([...
1,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](5),NaN,RGSLBOWMZCMTRA-UHFFFAOYSA-H,InChI=1S/C40H51N11O19/c41-40-49-32-31(37(66)50...,NaN,NaN,NaN,10fthf5glu,[H]OC1=NC(=N[H])N([H])C2=C1N([H])C([H])(C([H])...
2,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](6),NaN,SFFBEUFYOPMKMV-CWMPVMSNSA-G,InChI=1S/C45H58N12O22/c46-45-55-36-35(38(67)56...,NaN,NaN,NaN,10fthf6glu,[H]OC(=O)C([H])(N=C([O-])C([H])([H])C([H])([H]...
3,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](7),NaN,VTHHVZBTNSHUDD-UHFFFAOYSA-F,InChI=1S/C50H65N13O25/c51-50-61-40-39(47(84)62...,NaN,NaN,NaN,10fthf7glu,[H]OC1=NC(=N[H])N([H])C2=C1N([H])C([H])(C([H])...
4,NaN,NaN,NaN,10-methyl-3-hydroxy-dodecanoyl-ACP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bio.duplicated().sum()

0

In [6]:
metabo.head()

,casregistry_metabolite,cheblid_metabolite,description_metabolite,fullName_metabolite,hmdb_metabolite,inchiKey_metabolite,inchiString_metabolite,keggid_metabolite,biocyc_metabolite,food_db_metabolite,reconmap3_metabolite,smile_metabolite
0,2800-34-2,15637.0,Human Metabolome Database (HMDB): 10-Formyltet...,10-Formyltetrahydrofolate,HMDB0000972,AUFGTPPARQZWDO-YUZLPWPTSA-L,InChI=1S/C20H23N7O7/c21-20-25-16-15(18(32)26-2...,C00234,10-FORMYL-THF,FDB022345,10fthf,[H]OC1=NC(=NC2=C1N([H])C([H])(C([H])([H])N(C([...
1,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](5),NaN,RGSLBOWMZCMTRA-UHFFFAOYSA-H,InChI=1S/C40H51N11O19/c41-40-49-32-31(37(66)50...,NaN,NaN,NaN,10fthf5glu,[H]OC1=NC(=N[H])N([H])C2=C1N([H])C([H])(C([H])...
2,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](6),NaN,SFFBEUFYOPMKMV-CWMPVMSNSA-G,InChI=1S/C45H58N12O22/c46-45-55-36-35(38(67)56...,NaN,NaN,NaN,10fthf6glu,[H]OC(=O)C([H])(N=C([O-])C([H])([H])C([H])([H]...
3,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](7),NaN,VTHHVZBTNSHUDD-UHFFFAOYSA-F,InChI=1S/C50H65N13O25/c51-50-61-40-39(47(84)62...,NaN,NaN,NaN,10fthf7glu,[H]OC1=NC(=N[H])N([H])C2=C1N([H])C([H])(C([H])...
4,NaN,NaN,NaN,10-methyl-3-hydroxy-dodecanoyl-ACP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
metabo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5650 entries, 0 to 5649
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   casregistry_metabolite  791 non-null    object
 1   cheblid_metabolite      565 non-null    float64
 2   description_metabolite  904 non-null    object
 3   fullName_metabolite     5650 non-null   object
 4   hmdb_metabolite         1130 non-null   object
 5   inchiKey_metabolite     1469 non-null   object
 6   inchiString_metabolite  1469 non-null   object
 7   keggid_metabolite       678 non-null    object
 8   biocyc_metabolite       565 non-null    object
 9   food_db_metabolite      791 non-null    object
 10  reconmap3_metabolite    1582 non-null   object
 11  smile_metabolite        1469 non-null   object
dtypes: float64(1), object(11)
memory usage: 529.8+ KB

In [9]:
metabo.columns = metabo.columns.str.lower()

In [14]:
metabo.rename(columns={'casregistry':'casregistry_m','cheBlId':'cheblid_m','fullname':'fullname_m'
  ,'inchiKey':'inchikey_m','inchistring':'inchistring_m','keggid':'keggid_m'},inplac=True)

,casregistry_m,cheblid,description,fullname_m,hmdb,inchikey,inchistring_m,keggid_m
0,2800-34-2,15637.0,Human Metabolome Database (HMDB): 10-Formyltet...,10-Formyltetrahydrofolate,HMDB0000972,AUFGTPPARQZWDO-YUZLPWPTSA-L,InChI=1S/C20H23N7O7/c21-20-25-16-15(18(32)26-2...,C00234
1,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](5),NaN,RGSLBOWMZCMTRA-UHFFFAOYSA-H,InChI=1S/C40H51N11O19/c41-40-49-32-31(37(66)50...,NaN
2,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](6),NaN,SFFBEUFYOPMKMV-CWMPVMSNSA-G,InChI=1S/C45H58N12O22/c46-45-55-36-35(38(67)56...,NaN
3,NaN,NaN,NaN,10-Formyltetrahydrofolate-[Glu](7),NaN,VTHHVZBTNSHUDD-UHFFFAOYSA-F,InChI=1S/C50H65N13O25/c51-50-61-40-39(47(84)62...,NaN
4,NaN,NaN,NaN,10-methyl-3-hydroxy-dodecanoyl-ACP,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
5645,NaN,NaN,NaN,"1,2-Naphthalenediol",HMDB0060497,NaN,NaN,NaN
5646,57-55-6,16997.0,Human Metabolome Database (HMDB): Propylene gl...,Propylene glycol,HMDB0001881,DNIAPMSPPWPWGF-UHFFFAOYSA-N,"InChI=1S/C3H8O2/c1-3(5)2-4/h3-5H,2H2,1H3",C00583
5647,4254-15-3,29002.0,Human Metabolome Database (HMDB): (S)-Propane-...,"(S)-Propane-1,2-diol",HMDB0006213,DNIAPMSPPWPWGF-VKHMYHEASA-N,"InChI=1S/C3H8O2/c1-3(5)2-4/h3-5H,2H2,1H3/t3-/m...",C02917
5648,NaN,NaN,NaN,12R-Hydroperoxyeicosatetraenoate,HMDB06222,ZIOZYRSDNLNNNJ-AUXIVJNKSA-M,InChI=1S/C20H32O4/c1-2-3-4-5-10-13-16-19(24-23...,NaN
5649,NaN,NaN,NaN,13-Cis-Oxo-Retinoic Acid,NaN,GGCUJPCCTQNTJF-FAOQNJJDSA-M,InChI=1S/C20H26O3/c1-14(7-6-8-15(2)13-19(22)23...,NaN

In [19]:
metabo.to_csv('metabolites_f.csv',index=False)
bio.to_csv('biomarkers_f.csv', index=False)

In [20]:
bio2 = pd.read_csv('biomarkers_f.csv')
metabo2= pd.read_csv('biomarkers_f.csv')

In [21]:
bio2.head()

,name_ofd,type_ofd,notes_ofd,phenotype,organ_affected,cheBlId_ofb,description_ofb,fullName_ofb,inchiKey_ofb,inchiString_ofb,keggId_ofb,casRegistry_ofb,value_ofb,normal_conc_ofb,ramedis_ofb,range_conc_ofb
0,Glycine Encephalopathy/ Nonketotic Hyperglycin...,Inherited metabolic disorder,About 80 percent of cases of glycine encephalo...,1) Neonatal (classic) presentation-The neonata...,Nervous system,84842,Human Metabolome Database (HMDB): Glycine is a...,Glycine,DHMQDGOQFOQNFH-UHFFFAOYSA-N,"InChI=1S/C2H5NO2/c3-1-2(4)5/h1,3H2,(H,4,5)",C00037,56-40-6,Increased,180.00-740.00,NaN,550.00-1350.00
1,Gyrate Atrophy of the Choroid And Retina,Inherited metabolic disorder,Decreased activity of ornithine-delta-aminotra...,NaN,"Muscle, eye",84842,Human Metabolome Database (HMDB): L-proline is...,L-Proline,ONIBWKKTOPOVIA-BYPYZUCNSA-N,"InChI=1S/C5H9NO2/c7-5(8)4-2-1-3-6-4/h4,6H,1-3H...",C00148,147-85-3,Increased,95.00 - 320.00,NaN,830-1360
2,Maple Syrup Urine Disease,Inherited metabolic disorder,"In plasma increased levels of allo-isoleucine,...",1) Classic and intermediate MSUD. 2)There are ...,Nervous system,84842,Human Metabolome Database (HMDB): Valine (abbr...,L-Valine,KZSNJWFQEVHDMF-BYPYZUCNSA-N,"InChI=1S/C5H11NO2/c1-3(2)4(6)5(7)8/h3-4H,6H2,1...",C00183,72-18-4,Increased,65.00-215,"125, 133, 337",210.00 - 650.00
3,Neonatal Intrahepatic Cholestasis caused by Ci...,Inherited metabolic disorder,"Blood-elevated acetylcarnitine (C2), palmitoyl...",The two phenotypes of citrin deficiency are ci...,Liver,84842,Human Metabolome Database (HMDB): Threonine is...,L-Threonine,AYFVYJQAPQTCCC-GBXIJSLDSA-N,"InChI=1S/C4H9NO3/c1-2(6)3(5)4(7)8/h2-3,6H,5H2,...",C00188,72-19-5,Increased,25 - 150,NaN,NaN
4,Hypermethioninemia,Inherited metabolic disorder,A deficiency of any of these enzymes (i.e. MAT...,NaN,"Nervous system, liver, muscle",84842,Human Metabolome Database (HMDB): Methionine i...,L-Methionine,FFEARJCKVFRZRR-BYPYZUCNSA-N,"InChI=1S/C5H11NO2S/c1-9-3-2-4(6)5(7)8/h4H,2-3,...",C00073,63-68-3,Increased,10.00-38.00,NaN,56.00 -170.00

In [22]:
metabo2.head()

,name_ofd,type_ofd,notes_ofd,phenotype,organ_affected,cheBlId_ofb,description_ofb,fullName_ofb,inchiKey_ofb,inchiString_ofb,keggId_ofb,casRegistry_ofb,value_ofb,normal_conc_ofb,ramedis_ofb,range_conc_ofb
0,Glycine Encephalopathy/ Nonketotic Hyperglycin...,Inherited metabolic disorder,About 80 percent of cases of glycine encephalo...,1) Neonatal (classic) presentation-The neonata...,Nervous system,84842,Human Metabolome Database (HMDB): Glycine is a...,Glycine,DHMQDGOQFOQNFH-UHFFFAOYSA-N,"InChI=1S/C2H5NO2/c3-1-2(4)5/h1,3H2,(H,4,5)",C00037,56-40-6,Increased,180.00-740.00,NaN,550.00-1350.00
1,Gyrate Atrophy of the Choroid And Retina,Inherited metabolic disorder,Decreased activity of ornithine-delta-aminotra...,NaN,"Muscle, eye",84842,Human Metabolome Database (HMDB): L-proline is...,L-Proline,ONIBWKKTOPOVIA-BYPYZUCNSA-N,"InChI=1S/C5H9NO2/c7-5(8)4-2-1-3-6-4/h4,6H,1-3H...",C00148,147-85-3,Increased,95.00 - 320.00,NaN,830-1360
2,Maple Syrup Urine Disease,Inherited metabolic disorder,"In plasma increased levels of allo-isoleucine,...",1) Classic and intermediate MSUD. 2)There are ...,Nervous system,84842,Human Metabolome Database (HMDB): Valine (abbr...,L-Valine,KZSNJWFQEVHDMF-BYPYZUCNSA-N,"InChI=1S/C5H11NO2/c1-3(2)4(6)5(7)8/h3-4H,6H2,1...",C00183,72-18-4,Increased,65.00-215,"125, 133, 337",210.00 - 650.00
3,Neonatal Intrahepatic Cholestasis caused by Ci...,Inherited metabolic disorder,"Blood-elevated acetylcarnitine (C2), palmitoyl...",The two phenotypes of citrin deficiency are ci...,Liver,84842,Human Metabolome Database (HMDB): Threonine is...,L-Threonine,AYFVYJQAPQTCCC-GBXIJSLDSA-N,"InChI=1S/C4H9NO3/c1-2(6)3(5)4(7)8/h2-3,6H,5H2,...",C00188,72-19-5,Increased,25 - 150,NaN,NaN
4,Hypermethioninemia,Inherited metabolic disorder,A deficiency of any of these enzymes (i.e. MAT...,NaN,"Nervous system, liver, muscle",84842,Human Metabolome Database (HMDB): Methionine i...,L-Methionine,FFEARJCKVFRZRR-BYPYZUCNSA-N,"InChI=1S/C5H11NO2S/c1-9-3-2-4(6)5(7)8/h4H,2-3,...",C00073,63-68-3,Increased,10.00-38.00,NaN,56.00 -170.00

In [3]:
chebild = pd.read_csv('chebiId_inchi_3star.tsv', sep= '\t')
compounds = pd.read_csv('compounds_semi_final.tsv',sep= '\t')
datnam = pd.read_csv('datnamf.tsv',sep= '\t')
nams= pd.read_csv('namesf.tsv',sep= '\t')

C:\Users\karim\AppData\Local\Temp\ipykernel_14796\3671883874.py:2: DtypeWarning: Columns (4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  compounds = pd.read_csv('compounds_semi_final.tsv',sep= '\t')

In [5]:
chebild.head()

   CHEBI_ID                                              InChI
0        90  InChI=1S/C15H14O6/c16-8-4-11(18)9-6-13(20)15(2...
1       165  InChI=1S/C10H16O/c1-9(2)7-4-5-10(3,6-7)8(9)11/...
2       776  InChI=1S/C18H22O3/c1-18-7-6-13-12-5-3-11(19)8-...
3       943    InChI=1S/C7H3Cl2N/c8-6-2-1-3-7(9)5(6)4-10/h1-3H
4      1148  InChI=1S/C4H8O3/c1-2-3(5)4(6)7/h3,5H,2H2,1H3,(...

In [7]:
chebild.info()
chebild.columns.str.lower()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43936 entries, 0 to 43935
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CHEBI_ID  43936 non-null  int64
 1   InChI     43936 non-null  object
dtypes: int64(1), object(1)
memory usage: 686.6+ KB

Index(['chebi_id', 'inchi'], dtype='object')

In [8]:
chebild.to_csv('chebild_inchi_f.tsv',sep='\t')

In [4]:
compounds.head()

,id,chebi_accession,SOURCE,parent_id,name,definition,modified_on,created_by
0,4798,CHEBI:4798,KEGG COMPOUND,NaN,entacapone,"A monocarboxylic acid amide that is N,N-diethy...",2017-02-22,CHEBI
1,2341,CHEBI:2341,KEGG COMPOUND,NaN,AACOCF3,A fatty acid derivative that is arachidonic ac...,2015-01-22,CHEBI
2,3223,CHEBI:3223,KEGG COMPOUND,NaN,buspirone,An azaspiro compound that is 8-azaspiro[4.5]de...,2018-02-21,CHEBI
3,8028,CHEBI:8028,KEGG COMPOUND,NaN,perphenazine,A phenothiazine derivative in which the phenot...,2017-02-22,CHEBI
4,3423,CHEBI:3423,KEGG COMPOUND,NaN,carmustine,A member of the class of N-nitrosoureas that i...,2017-02-22,CHEBI

In [5]:
compounds.columns.str.lower()

Index(['id', 'chebi_accession', 'source', 'parent_id', 'name', 'definition',
       'modified_on', 'created_by'],
      dtype='object')

In [6]:
compounds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78083 entries, 0 to 78082
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               78083 non-null  int64
 1   chebi_accession  78083 non-null  object
 2   SOURCE           78083 non-null  object
 3   parent_id        17854 non-null  float64
 4   name             60229 non-null  object
 5   definition       50356 non-null  object
 6   modified_on      60228 non-null  object
 7   created_by       60229 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 4.8+ MB

In [7]:
print(compounds.diff())

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [8]:
compounds['chebi_accession'] = compounds['chebi_accession'].astype('str').str.extractall('(\d+)').unstack().sum(axis=1).astype(int)

In [16]:
compounds.head()

,id,chebi_accession,SOURCE,parent_id,name,definition,modified_on,created_by
0,4798,4798,KEGG COMPOUND,NaN,entacapone,"A monocarboxylic acid amide that is N,N-diethy...",2017-02-22,CHEBI
1,2341,2341,KEGG COMPOUND,NaN,AACOCF3,A fatty acid derivative that is arachidonic ac...,2015-01-22,CHEBI
2,3223,3223,KEGG COMPOUND,NaN,buspirone,An azaspiro compound that is 8-azaspiro[4.5]de...,2018-02-21,CHEBI
3,8028,8028,KEGG COMPOUND,NaN,perphenazine,A phenothiazine derivative in which the phenot...,2017-02-22,CHEBI
4,3423,3423,KEGG COMPOUND,NaN,carmustine,A member of the class of N-nitrosoureas that i...,2017-02-22,CHEBI

In [10]:
print(compounds['id','chebi_accession'].diff())

KeyError: ('id', 'chebi_accession')

In [11]:
difference = compounds['id']-compounds['chebi_accession']
print(difference)

0        0
1        0
2        0
3        0
4        0
        ..
78078    0
78079    0
78080    0
78081    0
78082    0
Length: 78083, dtype: int64

In [12]:
difference.sum()

0

In [25]:
compounds.drop('id',axis=1,inplace=True)

In [26]:
compounds.drop('parent_id',axis=1,inplace=True)

In [27]:
compounds.drop('modified_on',axis=1,inplace=True)

In [28]:
compounds.head()

,chebi_accession,SOURCE,name,definition,created_by
0,4798,KEGG COMPOUND,entacapone,"A monocarboxylic acid amide that is N,N-diethy...",CHEBI
1,2341,KEGG COMPOUND,AACOCF3,A fatty acid derivative that is arachidonic ac...,CHEBI
2,3223,KEGG COMPOUND,buspirone,An azaspiro compound that is 8-azaspiro[4.5]de...,CHEBI
3,8028,KEGG COMPOUND,perphenazine,A phenothiazine derivative in which the phenot...,CHEBI
4,3423,KEGG COMPOUND,carmustine,A member of the class of N-nitrosoureas that i...,CHEBI

In [29]:
compounds.to_csv('compounds_f.csv',index= False)

In [30]:
ds = pd.read_csv('compounds_f.csv')

In [32]:
ds.head()

,chebi_accession,SOURCE,name,definition,created_by
0,4798,KEGG COMPOUND,entacapone,"A monocarboxylic acid amide that is N,N-diethy...",CHEBI
1,2341,KEGG COMPOUND,AACOCF3,A fatty acid derivative that is arachidonic ac...,CHEBI
2,3223,KEGG COMPOUND,buspirone,An azaspiro compound that is 8-azaspiro[4.5]de...,CHEBI
3,8028,KEGG COMPOUND,perphenazine,A phenothiazine derivative in which the phenot...,CHEBI
4,3423,KEGG COMPOUND,carmustine,A member of the class of N-nitrosoureas that i...,CHEBI